<main id="page-content-wrapper" role="main">
    <p class="profil">Diskusi Trip</p>
    <p class="masukan-profil">Tanyakan semua pertanyaan yang bersifat umum dan terbuka kepada Agen Travel. Travinesia menyediakan Diskusi Trip untuk kamu yang juga ingin mendapatkan atau memberikan tanggapan sebuah Trip.</p>
    <!-- <div class="diskusi"> -->
    <div class="content-diskusi" *ngFor="let discussion of pagedItems">
        <div class="isi-tahapan-pesanan">
            <div class="gambar">
                <img [src]="discussion.id_trip.photo_trip[0]">
            </div>
            <div class="detail-pesanan">
                <div class="isi-pesanan-star">
                    <span class="icon-star" *ngFor="let stars of counterStars((discussion.id_trip.rate_div!=0)? (discussion.id_trip.rate_total/discussion.id_trip.rate_div) : 0);let i = index" id="{{i}}"></span>
                    <!-- <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span> -->
                </div>
                <span class="harga">Rp {{discussion.id_trip.publish_price}}</span>
                <div class="isi-pesanan-nama-pulau">
                    <p>{{discussion.id_trip.trip_name}}</p>
                </div>
                <div class="isi-pesanan-waktu">
                    <span class="glyphicon glyphicon-time"></span> <span class="waktu">{{discussion.id_trip.days}} Hari {{discussion.id_trip.night}} Malam</span>
                </div>
                <div class="isi-pesanan-travel">
                    <span class="glyphicon glyphicon-user"></span> <span class="travel">{{discussion.provider.travel_name}}</span>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <!-- <div class="card-diskusi"> -->
        <div class="diskusi-pesan">
            <div class="akun">
                <div class="akun-image">
                    <img [src]="discussion.id_user.photo">
                </div>
                <div class="akun-text">
                    <span class="akun-name">{{discussion.id_user.name}} <span class="date-time pull-right">{{discussion.created_at | date:'dd MMMM yyyy, hh:mm z'}}</span></span>
                    <p class="my-akun">Traveler</p>
                </div>
                <div class="isi-pesan">
                    <span [innerHTML]="discussion.content"></span>
                </div>
            </div>
            <div>

            </div>
            <div class="wrap-content-comment">
                <span class="comment-more" (click)="comment()" *ngIf="discussionComment">Lihat {{discussion.comments.length}} Komentar Sebelumnya </span>


                <div *ngIf="allComments">
                    <div *ngFor="let count of discussion.comments" class="content-comment">
                        <img [src]="count.photo_comment" alt="" class="img-comment">
                        <span class="date-time pull-right">{{count.created_at | date:'dd MMMM yyyy, hh:mm z' }}</span>
                        <span class="akun-comment">{{count.name_comment}}</span>
                        <div class="type-comment">{{count.flag_comment == 1? 'Traveller' : 'Travel Agent'}}</div>
                        <span class="comment-msg"> {{count.comment}} </span>
                    </div>
                </div>
            </div>

            <form [formGroup]="myForm" (ngSubmit)="onSubmitComment()">
                <div class="type-diskusi">
                    <input type="text" formControlName="comment" class="form-diskusi" placeholder="Tulis Pesan Disini ...">
                    <button type="submit" (click)="clickId($event)" id="{{discussion._id}}" class="send">Kirim </button>
                </div>
            </form>
        </div>

    </div>

    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right">

        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">&laquo;</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">&raquo;</a>
        </li>

    </ul>
    <!-- </div> -->
</main>