<div class="container-sidebar">
    <div class="wrapper">
        <nav id="sidebar" [class.show]="show">
            <div class="akun">
                <div class="akun-image">
                    <img src="{{photo}}">
                </div>
                <div class="akun-text">
                    <p class="my-akun"> Akun Saya</p>
                    <p class="akun-name">{{dataUser?.name}}</p>
                </div>
            </div>
            <ul id="sidemenu" class="sidebar-nav">
                <li>
                    <a [routerLink]="['Profile']" [queryParams]="{order:'Profile'}">
                        <span class="sidebar-icon"><img src="https://img.travinesia.com/icon/ikon_traveler_profil_16x16.png">
                        </span>
                        <span class="sidebar-title">Profil <span class="glyphicon glyphicon-menu-right pull-right"></span>
                        <!-- <i class="badge pull-right">7</i> -->
                    </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['Pemesanan']" [queryParams]="{order:'Pemesanan'}">
                        <span class="sidebar-icon"><img src="https://img.travinesia.com/icon/ikon traveler_pemesanan_16x16.png"></span>
                        <span class="sidebar-title">Pemesanan <span class="glyphicon glyphicon-menu-right pull-right"></span>
                        <!-- <i class="badge pull-right">7</i> -->
                    </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['Favorit']" [queryParams]="{order:'Favorit'}">
                        <span class="sidebar-icon"><img src="https://img.travinesia.com/icon/ikon traveler_favorit_16x16.png"></span>
                        <span class="sidebar-title">Favorit <span class="glyphicon glyphicon-menu-right pull-right"></span>
                        <!-- <i class="badge pull-right">7</i> -->
                    </span>
                    </a>
                </li>

                <p class="kotak-masuk">Kotak Masuk</p>

                <li>
                    <a [routerLink]="['PesanMasuk']" [queryParams]="{order:'PesanMasuk'}">
                        <span class="sidebar-icon"><img src="https://img.travinesia.com/icon/ikon traveler_pesan masuk_16x16.png"></span>
                        <span class="sidebar-title">Pesan Masuk <span class="glyphicon glyphicon-menu-right pull-right"></span>
                        <!-- <i class="badge pull-right">7</i> -->
                    </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['DiskusiTrip']" [queryParams]="{order:'DiskusiTrip'}">
                        <span class="sidebar-icon"><img src="https://img.travinesia.com/icon/ikon traveler_diskusi trip_16x16.png"></span>
                        <span class="sidebar-title">Diskusi Trip <span class="glyphicon glyphicon-menu-right pull-right"></span>
                        <!-- <i class="badge pull-right">7</i> -->
                    </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['Promo']" [queryParams]="{order:'Promo'}">
                        <span class="sidebar-icon"><img src="https://img.travinesia.com/icon/ikon traveler_promo_16x16.png"></span>
                        <span class="sidebar-title">Promo <span class="glyphicon glyphicon-menu-right pull-right"></span>
                        <!-- <i class="badge pull-right">7</i> -->
                    </span>
                    </a>
                </li>
            </ul>

        </nav>
        <div class="content">
            <p class="root-akun">Beranda > Akun > {{order}}</p>
            <div class="btn-toggle" (click)="toggleCollapse()" role="button"><span class="glyphicon glyphicon-chevron-left"></span></div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<app-footer></app-footer>