<div class="trv-notice" *ngIf="succes">
  <span class="txt-notice"> Silahkan Cek Email Anda</span>
</div>
<div class="wrapper-lupa-sandi text-center">
  
  <h2 class="head-kata-sandi">Ubah Password</h2>
  <p class="content-kata-sandi">Silahkan masukkan password baru Anda, kemudian ulangi pada kolom berikutnya</p>
  <form (submit)="onSubmit()" [formGroup]="user">
      <div class="form-group">
        <input [type]="show ? 'text': 'password'" placeholder="Password Baru" class="input-kata-sandi text-center" formControlName="password">
        <span *ngIf="show === false" class="glyphicon glyphicon-eye-open mata1" (click)="pwdLama()"></span>
        <span *ngIf="show === true" class="glyphicon glyphicon-eye-close mata1" (click)="pwdLama()"></span>

        <div *ngIf="user.get('password').hasError('required') && user.get('password').touched" class="alert trv-alert">Password Tidak Boleh Kosong</div> 
        <div *ngIf="user.get('password').hasError('pattern') || user.get('password').hasError('minlength') && user.get('password').touched" class="alert trv-alert">Minimal 8 Karakter dari Kombinasi Huruf Kapital dan Angka</div>
      </div>
      <div class="form-group">
        <input [type]="showBaru ? 'text': 'password'" placeholder="Ulangi Password Baru" class="input-kata-sandi text-center" formControlName="repeatPassword">
        <span *ngIf="showBaru === false" class="glyphicon glyphicon-eye-open mata" (click)="pwdBaru()"></span>
        <span *ngIf="showBaru === true" class="glyphicon glyphicon-eye-close mata" (click)="pwdBaru()"></span>

        <div *ngIf="user.get('repeatPassword').hasError('required') && user.get('repeatPassword').touched" class="alert trv-alert">Password Tidak Boleh Kosong</div> 
        <div *ngIf="user.get('repeatPassword').hasError('pattern') || user.get('repeatPassword').hasError('minlength') && user.get('repeatPassword').touched" class="alert trv-alert">Minimal 8 Karakter dari Kombinasi Huruf Kapital dan Angka</div>
      </div>
      <button type="submit" class="btn btn-kata-sandi">Ubah Password</button>
  </form>
</div>

<p class="text-center">Masuk Travinesia, <a class="disini" routerLink="/LoginPage">disini</a></p>

<!-- footer -->

<div class="footer-black">
<img alt="Brand" src="../assets/img/logo.png" class="footer-brand-logo">
<p class="cr-black pull-right">Copyright &copy; 2017 Travinesia</p>
</div>