<nav class="navbar navbar-transparent navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

            <a [routerLink]="['']" class="navbar-brand" href="#">
                <img alt="Brand" src="../assets/img/travinesia-logo.png" class="brand-logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left" (submit)="goSearch(trip_name)">
                <div class="input-group stylish-input-group">

                    <input type="text" (keyup)="searchTerm$.next($event.target.value)" class="form-control " placeholder="Cari Wisata">
                    <ul *ngIf="results" class="search-dropdown">
                        <li *ngFor="let result of results | slice:0:9" class="item-search">
                            <a (click)="goToSearch(result.trip_name)">
                                {{ result.trip_name }}
                                </a>
                        </li>
                    </ul>
                    <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </form>

            <div [hidden]="noUser">
                <ul class="nav navbar-nav navbar-right-nouser">
                    <li class="daftar">
                        <span [routerLink]="['/Daftar']" >Daftar</span>
                    </li>

                    <li>
                        <a role="button" (click)="toggleLogin()">Masuk <span class="arrow"></span></a>
                    </li>
                </ul>
            </div>

            <div [hidden]="userTravel">
                <ul class="nav navbar-nav navbar-right-nouser">
                    <li>
                        <a [routerLink]="['/Akun/Pemesanan']" role="button">Pemesanan</a>
                    </li>
                    <li>
                        <a (click)="pengembangan()" role="button">Notifikasi</a>
                    </li>
                    <li>
                        <button [routerLink]="['/JadiTravel']" class="btn btn-trv">Jadi Travel</button> 
                        <!-- <span class="notif"></span> -->
                    </li>
                    <a role="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="profil">
                        <img [src]="photos" class="foto-profil-provider">
                    </a>
                    <ul class="dropdown-menu user-drop" aria-labelledby="dropdownMenu">

                        <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Akun/Profile']"><img src="https://img.travinesia.com/icon/ikon_traveler_profil_16x16.png" class="imaga-icon">Profil</p></li>
                        <li role="separator" class="divider"></li>
                        <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Akun/Pemesanan']"><img src="https://img.travinesia.com/icon/ikon traveler_pemesanan_16x16.png" class="imaga-icon">Pemesanan</p></li>
                        <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Akun/Favorit']"><img src="https://img.travinesia.com/icon/ikon traveler_favorit_16x16.png" class="imaga-icon">Favorit</p></li>
                        <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Akun/PesanMasuk']"><img src="https://img.travinesia.com/icon/ikon traveler_pesan masuk_16x16.png" class="imaga-icon">Pesan Masuk </p></li>
                        <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Akun/DiskusiTrip']"><img src="https://img.travinesia.com/icon/ikon traveler_diskusi trip_16x16.png" class="imaga-icon">Diskusi Trip</p></li>
                        <li role="separator" class="divider"></li>
                        <li class="list-drop"><p class="delete-trip " (click)=logout()><i class="glyphicon glyphicon-log-out"></i>Logout</p></li>

                    </ul>
                </ul>
            </div>

            <div [hidden]="providerTravel">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a role="button" (click)="pengembangan()">Notifikasi</a>
                    </li>
                    <li class="travel-saya">
                        <a role="button" id="dropdownMenuAgen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="travel-saya">Travel Saya</a>
                        <!-- <button [routerLink]="['/traveler/JadiTravel']" class="btn btn-trv">Jadi Agen</button> <span class="notif"></span> -->
                        <ul class="dropdown-menu agen-drop" aria-labelledby="dropdownMenuAgen">
                            <li class="list-drop">
                                <p class="dropdown-list" [routerLink]="['/Provider/JualTrip']"><img src="https://img.travinesia.com/icon/ikon_traveler_profil_16x16.png" class="imaga-icon">
                                    Travel Saya
                                    <span class="user-name">{{travelBio}}</span>
                                </p>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Provider/JualTrip']"><img src="https://img.travinesia.com/icon/ikon provider_jual trip_16x16.png" class="imaga-icon">Jual Trip</p></li>
                            <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Provider/Saldo']"><img src="https://img.travinesia.com/icon/ikon provider_saldo_16x16.png" class="imaga-icon">Saldo</p></li>
                            <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Provider/TransaksiPenjualan']"><img src="https://img.travinesia.com/icon/ikon provider_transaksi penjualan_16x16.png" class="imaga-icon">Transaksi Penjualan</p></li>
                            <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Provider/DaftarTrip']"><img src="https://img.travinesia.com/icon/ikon provider_daftar trip_16x16.png" class="imaga-icon">Daftar Trip </p></li>
                            <li class="list-drop"><p class="dropdown-list" (click)="goEtalase()"><img src="https://img.travinesia.com/icon/ikon provider_etalase_16x16.png" class="imaga-icon">Etalase Travel</p></li>
                            <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Provider/UbahProfilTravel']"><img src="https://img.travinesia.com/icon/ikon provider_edit profil travel_16x16.png" class="imaga-icon">Ubah Provil Travel</p></li>
                            <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Provider/DiskusiProvider']"><img src="https://img.travinesia.com/icon/ikon traveler_diskusi trip_16x16.png" class="imaga-icon">Diskusi Trip</p></li>
                            <!-- <li role="separator" class="divider"></li>
                            <li class="list-drop"><p class="delete-trip " (click)=logout()><i class="glyphicon glyphicon-log-out"></i>Logout</p></li> -->
                        </ul>
                    </li>

                    <a role="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="profil">
                        <img [src]="photos" class="foto-profil-provider">
                    </a>
                    <ul class="dropdown-menu user-drop" aria-labelledby="dropdownMenu">
                        <li class="list-drop">
                            <p class="dropdown-list" [routerLink]="['/Akun/Profile']"><img src="https://img.travinesia.com/icon/ikon_traveler_profil_16x16.png" class="imaga-icon">
                                Akun Saya
                                <span class="user-name">{{userBio}}</span>
                            </p>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Akun/Pemesanan']"><img src="https://img.travinesia.com/icon/ikon traveler_pemesanan_16x16.png" class="imaga-icon">Pemesanan</p></li>
                        <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Akun/Favorit']"><img src="https://img.travinesia.com/icon/ikon traveler_favorit_16x16.png" class="imaga-icon">Favorit</p></li>
                        <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Akun/PesanMasuk']"><img src="https://img.travinesia.com/icon/ikon traveler_pesan masuk_16x16.png" class="imaga-icon">Pesan Masuk </p></li>
                        <li class="list-drop"><p class="dropdown-list" [routerLink]="['/Akun/DiskusiTrip']"><img src="https://img.travinesia.com/icon/ikon traveler_diskusi trip_16x16.png" class="imaga-icon">Diskusi Trip</p></li>
                        <li role="separator" class="divider"></li>
                        <li class="list-drop"><p class="delete-trip " (click)=logout()><i class="glyphicon glyphicon-log-out"></i>Logout</p></li>
                    </ul>
                </ul>
            </div>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container-fluid-bar-fixed">
    <ul class="head-category">
        <li *ngFor="let category of categoryAllTrip">
            <a (click)="searchTrip(category._id)" class="btn-search"><img src="{{category.category_photo}}" class="icon-category"> {{category.category_name}} </a>
        </li>

        <li class="kanan">
            <a href=""> <span class="icon-question">
             <span class="path1"></span><span class="path2"></span>
                </span>
                Bantuan
            </a>
        </li>
    </ul>
</div>
<!-- <div *ngFor="let trip of getTripSearch"
[]></div> -->


<div class="margin-content">
    <router-outlet></router-outlet>
</div>

<div *ngIf='showLogin' (click)="toggleLogin()" class="modal-bg">
</div>

<div *ngIf='showLogin' class="login-form">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)" (submit)="onSubmit()">
        <div class="trv-form-login">
            <input type="text" class="form-control" placeholder="Email" formControlName="email" autofocus [(ngModel)]="user.email" name="email">
            <div class="trv-alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">{{emailAlertMessage}}</div>
        </div>

        <div class="trv-form-login">
            <input id="password" class="form-control" placeholder="Password" [type]="show ? 'text' : 'password'" data-toggle="password" formControlName="password" [(ngModel)]="user.password" name="password">
            <span *ngIf="show === false" class="glyphicon glyphicon-eye-open mata" (click)="pwd()"></span>
            <span *ngIf="show === true" class="glyphicon glyphicon-eye-close mata" (click)="pwd()"></span>
            <div class="trv-alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">{{passwordAlertMessage}}</div>
        </div>

        <div class="login-forgot">
            <div class="col-md-6 text-left">
                <input type="checkbox" class="checkbox">
                <label class="label-checkbox"> Ingat Saya
                    </label>
            </div>

            <div class="col-md-6">
                <a role="button" [routerLink]="['/LupaPassword']">
                    <p>Lupa Password ?</p>
                </a>
            </div>
        </div>

        <button class="btn btn-masuk" type="submit Form">Masuk</button>

        <div class="trv-line-login"></div>

        <button class="btn btn-facebook" type="button" (click)="signInWithFB()">Masuk Dengan Facebook</button>
        <button class="btn btn-gmail" type="button" (click)="signInWithGoogle()">Masuk Dengan Gmail</button>
    </form>
</div>

<!-- end login form  -->

<!-- dropdown profile -->
