.loader{
    width: 30%;
    height: 10px;
    animation-name: move;
    animation-duration: 10s ;
    background: orange;
    position: relative;
}

.loader::before{
    content: '';

}

@keyframes move{
    0%   {background-color:red; left:0px; right:0px;}
    100%  {background-color:yellow; left:100%; right:0px;}
    /* 100%  {background-color:blue; left:0px; top:0px;} */
}