<div *ngIf="content1">
    <div class="wrapper-lupa-sandi text-center">
    
        <h2 class="head-kata-sandi">Lupa Password ?</h2>
        <p class="content-kata-sandi">Masukkan email login Anda, Travinesia akan mengirimkan email dan tautan untuk reset password Anda</p>
        <form (submit)="onSubmitEmail()">
            <input type="text" placeholder="Email Anda" class="input-kata-sandi text-center" [(ngModel)]="user.email" name="email">
            <button type="submit" class="btn btn-kata-sandi">Ubah Password</button>
        </form>
    </div>
    
    <p class="text-center">Masuk Travinesia, <a class="disini" routerLink="/LoginPage">disini</a></p>
</div>

<div *ngIf="content2">
    <app-reset-password></app-reset-password>
</div>




<!-- footer -->

<div class="footer-black">
  <img alt="Brand" src="../assets/img/logo.png" class="footer-brand-logo">
  <p class="cr-black pull-right">Copyright &copy; 2017 Travinesia</p>
</div>