<div class="coming-soon">
  <p>Fitur ini Dalam Pengembangan,</p>
  <span>Silahhkan Hubungi Nomor</span>
</div>
<!-- <main id="page-content-wrapper" role="main">
  <p class="profil">Promo</p>
  <p class="masukan-profil">Tanyakan semua hal terkait Trip kepada Agen Travel di Pesan Masuk. Ciptakan komuniasi dan Trip yang menyenangkan
    dimulai dari Pesan Masuk.</p>

  <div class="history-chat">
    <a class="link" >
    <div class="chat" *ngFor="let promo of dataPromo" (click)="showChat(promo._id)">
        <div class="keterangan">
          <span>{{promo.promo_name}}</span><span class="time">Baru</span>
          <p class="text-chat">{{promo.description}}</p>
        </div>
    </div>
    </a>
  </div>


  <div [hidden]="promoId==null" class="content-chat">
    <div class="header-chat">
      <img src="{{detailPromo?.photo_promo}}" class="akun-image">
    </div>
    <div class="percakapan">
      <p>{{detailPromo?.promo_name}}</p>
      <div class="description">{{detailPromo?.description}}</div>
    </div>
    <div class="send-chat">
        <div class="send">
          <p class="period"><i class="glyphicon glyphicon-time glp"></i>
          <span class="title">Periode Promo <span class="titik-dua">:</span> <span class="content">{{detailPromo?.created_at | date:' dd MMM yyyy'}} - {{detailPromo?.expiration_date | date:'dd MMM yyyy'}}</span></span></p>

          <p class="code"><i class="glyphicon glyphicon-dashboard glp"></i>
          <span class="title">Kode Promo <span class="titik-dua">:</span> <span class="content">{{detailPromo?.promo_code}}</span></span></p>
        </div>
    </div>
  </div>
</main>

 -->
