<div class="wrap-tittle">
    <p class="head-tittle">Saldo</p>
</div>

<p class="current-saldo">Saldo Travel Anda saat ini :</p>

<div class="wrap-saldo">
    <span class="rupiah">Rp </span> <span class="saldo-price">{{balance?.total_balance}}</span>

    <div class="btn-trv-ajukan" data-toggle="modal" (click)="open()" data-target="#myModal"> Ajukan Pencairan </div>
    <div class="petunjuk-pencarian" data-toggle="modal" data-target="#ModalPencarian"> Lihat Petunjuk Pencairan </div>
</div>

<div class="modal fade" id="ModalPencarian" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="wrap-modal-pencarian">
            <img src="../assets/img/Award.png" class="img-modal-pencarian">
            <p class="tittle-modal-pencarian"> <span class="bold"> Travinesia, </span> beberapa saat lagi akan menghubungi nomor yang tertera pada profil agen travel Anda. Silahkan pergi ke tab pilihan <span class="bold">“pencairan” </span> untuk memantau status proses penarikan.</p>
            <button data-dismiss="modal" class="btn-trv-ok">Ok</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" [hidden]="modalClose">

        <!-- Modal content-->
        <div class="wrap-modal-content">
            <div class="wrap-modal-header">
                Ajukan Pencairan
            </div>

            <form [formGroup]="withdrawForm" (ngSubmit)="onSubmitWithdraw()">
                <div class="wrap-modal-body">
                    <div class="row">
                        <div class="col-md-4" [ngClass]="displayFieldCss('bank_name')">
                            <div class="tittle-label-modal">Pilih Bank</div>
                            <select class="form-control pilih-bank" formControlName="bank_name">
                                <option value="" selected disabled>Pilih Bank</option>
                                <option value="Mandiri" >Mandiri</option>
                                <option value="BRI">BRI</option>
                                <option value="BNI">BNI</option>
                                <option value="BCA">BCA</option>
                            </select>
                            <div class="alert-error" *ngIf="isFieldValid('bank_name')"> Form tidak boleh kosong </div>
                        </div>

                        <div class="col-md-8" [ngClass]="displayFieldCss('account_number')">
                            <div class="tittle-label-modal">Nomor Rekening :</div>
                            <input type="text" (keypress)="keyPress($event)" class="form-control margin-tittle-ikon" formControlName="account_number">
                            <div class="alert-error" *ngIf="isFieldValid('account_number')"> Form tidak boleh kosong </div>
                        </div>
                    </div>

                    <div [ngClass]="displayFieldCss('account_owner')">
                        <div class="tittle-label-modal">Atas Nama :</div>
                        <input class="form-control margin-tittle-ikon" formControlName="account_owner">
                        <div class="alert-error" *ngIf="isFieldValid('account_owner')"> Form tidak boleh kosong </div>
                    </div>
                    <div class="tittle-label-modal">Nominal :</div>
                    <div class="input-group margin-tittle-ikon" [ngClass]="displayFieldCss('withdraw_total')">
                        <span class="input-group-addon bold"> Rp. </span>
                        <input class="form-control margin-tittle-label" type="text" (keypress)="keyPress($event)" formControlName="withdraw_total">
                    </div>
                    <div class="alert-error" *ngIf="isFieldValid('withdraw_total')"> Form tidak boleh kosong </div>
                    <div [ngClass]="displayFieldCss('password')">
                        <div class="tittle-label-modal">Kata Sandi Akun Travinesia :</div>
                        <input type="password" class="form-control margin-tittle-ikon" formControlName="password">
                        <div class="alert-error" *ngIf="isFieldValid('password')"> Form tidak boleh kosong </div>
                        <div class="alert-error" *ngIf="wrong"> Password Salah </div>
                    </div>

                    <!-- <span class="glyphicon glyphicon-info-sign"></span>
                    <div class="tittle-sign">Pengajuan pencairan dapat dilakukan pada pukul 08.00 - 14.00 WIB</div> -->

                    <div class="wrap-btn">
                        <span data-dismiss="modal" class="batal">Batal</span>
                        <button class="btn-trv-kirim" type="submit">Kirim</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="wrap-modal-success" [hidden]="confirmSuccess">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-success">
                <p class="tittle-modal-pencarian">Tunggu Konfirmasi Admin</p>
                <button data-dismiss="modal" (click)="close()" class="btn-trv-ok">Ok</button>
            </div>
        </div>
    </div>

</div>

<div class="wrap-info-saldo">
    <p class="detail-saldo">Detail Saldo</p>
    <div class="unduh-rekap-saldo">Unduh Rekap Saldo</div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>Waktu</th>
            <th>Mutasi <span class="glyphicon glyphicon-info-sign "></span></th>
            <th>Saldo</th>
            <th>Keterangan</th>
        </thead>
        <tbody>
            <tr *ngFor="let arr of balanceFlag">
                <td>{{arr.created_at | date:"fullDate"}}</td>
                <td>{{arr.mutation_flag? "+" : "-"}} Rp {{arr.mutation_flag? arr.total_payment : arr.total_withdraw}}</td>
                <td>Rp {{arr.balance_history}}</td>
                <td>{{arr.mutation_flag? arr.id_trip.trip_name : "Penarikan"}} {{arr.mutation_flag? '( No. Pemesanan' + ' : '+ arr.id_booking.no_booking +' )' : ''}}</td>
            </tr>
        </tbody>
    </table>
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right">
        <!-- <li [ngClass]="{disabled:pager.currentPage === 1}">
    <a (click)="setPage(1)">First</a>
</li> -->
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">&laquo;</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">&raquo;</a>
        </li>
        <!-- <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
    <a (click)="setPage(pager.totalPages)">Last</a>
</li> -->
    </ul>
</div>