<app-loader *ngIf="loaded"></app-loader>
<div class="container-fluid-page">
  <div class="row">
    <div class="col-md-8 ">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
              <img src="{{detailTrip?.photo_trip}}" class="img-slider" alt="pulau">
          </div>

          <div class="item">
              <img src="{{detailTrip?.photo_trip}}" class="img-slider" alt="pulau">
          </div>

          <div class="item">
              <img src="{{detailTrip?.photo_trip}}" class="img-slider" alt="pulau">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="jenis-paket">
        <span class="glyphicon glyphicon-tag"></span>
        <span class="jenis-trip">Open Trip</span>
        <span class="waktu-trip">( {{detailTrip.days}} Hari {{detailTrip.night}} Malam) <p class="pembatas">|</p></span>
        <span class="lokasi">Lokasi : <p class="lokasi-detail">DKI Jakarta </p> <p class="pembatas">|</p></span>
        <span class="kategori">Kategori : <p class="kategori-detail">{{detailTrip.category}}</p></span>
        <div class="share pull-right">
          
          <div class="img-share">
            
          </div> 
        </div>
      </div>
      <div class="nama-paket" >
        <div class="judul-paket">{{detailTrip.trip_name}}</div>
        <div class="alamat-paket">
          <span>Kecamatan Kepulauan Seribu Utara, Kabupaten Kepulauan Seribu,</span>
          <p>Jakarta, Indonesia</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
          </div>
        </div>
      </div>

      <div class="penjelasan">
        <div class="kanan-deskripsi">
          <a data-toggle="collapse" href="#deskripsi" ><span class="glyphicon glyphicon-menu-down"></span></a>
          <span class="kanan">Deskripsi</span>
          <div id="deskripsi" class="collapse">
            {{detailTrip.description}}
          </div>
        </div>
        <div class="kanan-fasilitas">
          <a data-toggle="collapse" href="#fasilitas"><span class="glyphicon glyphicon-menu-down"></span></a>
          <span class="kanan">Fasilitas</span>
          <div id="fasilitas" class="collapse">
            fasilitas yang disediakan.......
          </div>
        </div>
        <div class="kanan-meeting">
          <a data-toggle="collapse" href="#meetingpoint"><span class="glyphicon glyphicon-menu-down"></span></a>
          <span class="kanan">Meeting Point</span>
          
          <div id="meetingpoint" class="collapse">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <span class="facility"> Berangkat Pukul: <p>08.00 WIB</p>
              <span class="tempat">Tempat :
                <p>kecamatan Kepulauan Seribu Utara, Kabupaten</p>
                <p>Kepulauan Seribu, Jakarta, Indonesia.</p></span>
            </span>
            
          </div>
        </div>
        <div class="kanan-catatan">
          <a data-toggle="collapse" href="#catatan"><span class="glyphicon glyphicon-menu-down"></span></a>
          <span class="kanan">Catatan untuk Travel</span>
          <div id="catatan" class="collapse">
            fasilitas yang disediakan.......
          </div>
        </div>
      </div>
      <div class="kanan-catatan">
        <a data-toggle="collapse" href="#infoAgen"><span class="glyphicon glyphicon-menu-down"></span></a>
        <span class="kanan">Informasi Travel Agen</span>
        <div id="infoAgen" class="collapse">
          <div class="body-info">
            <img class="img-agen" src="assets/img/foto.png">
              <div class="nama">
                <span class="nama-agen">Kuylah Travel</span>
                <p class="alamat-agen">Bogor, Jawa Barat </p>
                <p class="kelas-agen"> Travel Kelas Satu</p>
              </div>
          </div>
          <div class="button-body">
            <button class="btn btn-lihatProfil">Lihat Profil Travel</button>
            <button class="btn btn-kirimPesan">Kirim Pesan</button>
          </div>
        </div>
      </div> 
      <div class="card">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#status-pembayaran" aria-controls="home" role="tab" data-toggle="tab">Ulasan</a></li>
            <li role="presentation"><a href="#daftar-transaksi" aria-controls="settings" role="tab" data-toggle="tab">Diskusi</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="status-pembayaran">
              <div class="komen">
                <img src="assets/img/foto.png" class="komen-image">
                <div class="komen-user">
                  <p class="komen-user-name">Paulo Torres</p>
                  <p class="komen-tanggal">15 Februari 2018, 11.17 WIB</p>
                  <div class="komen-star">
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                  </div> 
                  <p class="komen-tanggapan">"kualitas terbaik dan sangat sesuai dengan ekspetasi"</p>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="daftar-transaksi">
              <div class="komen">
                <img src="assets/img/foto.png" class="komen-image">
                <div class="komen-user">
                  <p class="komen-user-name">Paulo Neymar</p>
                  <p class="komen-tanggal">15 Februari 2018, 11.17 WIB</p>
                  <div class="komen-star">
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                  </div> 
                  <p class="komen-tanggapan">"kualitas terbaik dan sangat sesuai dengan ekspetasi"</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    
    <form (submit)="goToProsespemesanan($event)" id="{{idT}}" #pesan="ngForm">
      <div class="col-md-4" >
        <div class="kolom-kanan">
          <div class="harga-tanggal">
            <div class="harga">
              <span class="harga-diskon"> Rp {{detailTrip.publish_price}} </span> 
              <span class="orang"> / Orang </span>
              <!-- <p class="harga-normal"> Rp 300.000/orang <span class="diskon"> Diskon 10%</span> </p> -->
            </div>
          </div>
          <div class="table">
            <table>
              <tr>
                <td>Dilihat : <span class="nominal-table">20</span></td>
                <td>Terjual : <span class="nominal-table">20</span></td>
                <td>Difavoritkan : <span class="nominal-table">20</span></td>
              </tr>
            </table>
          </div>
          <div class="pilih-tanggal">
            <p>Silahkan Pilih Tanggal Trip</p>
          </div>
          <div class="calendar">
            <!-- <app-calendar></app-calendar> -->
            <select class="form-control tanggal-tersedia" [(ngModel)]="book.startDate_trip" name="startDate_trip" #startDate ="ngModel" required>
                <option value="" disabled selected>Pilih Tanggal</option>
                <option *ngFor="let d of date" [value]="d">{{ d | date:'fullDate'}} </option>  
          </select>
           <div *ngIf="startDate.invalid" class="alert trv-alert">
             Tanggal Belum Terisi
           </div>

          </div>

          
          <!-- <div *ngIf="show"> -->
            <!-- <div class="kuota-jumlah">
              
                <p class="kuota" >Tersisa <b>{{detailTrip.quota_trip}}</b> untuk</p>
                <p class="berangkat">Tanggal berangkat .... </p>
            </div> -->
            <div class="jumlah">
              <div class="jumlah-orang">Banyak Peserta</div>
              <div class="add-orang">
                <div class="minus">
                    <a (click)="decrement()" role="button">
                        <i class="glyphicon glyphicon-minus"></i>
                    </a>
                </div>
                <div class="jumlah-input">
                  <input class="form-control nominal" readonly ([ngModel])="book.quantity" value="{{ totalHargaBayar }}">
                </div>
                <div class="plus">
                  <a (click)="increment()" role="button">
                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div> 
                <div class="harga-perorang">
                  <p class="text-harga">Harga per orang</p>
                  <p class="harga-satuorang"> Rp {{detailTrip.publish_price}} </p>
                  <p class="text-harga">Total Harga</p>
                  <p class="harga-satuorang" ([ngModel])="book.publish_price"> Rp {{totalHarga}}</p> 
                </div>   
              </div>
              <div>
  
              </div>
            </div>
          <!-- </div> -->
          <button type="submit" class="btn btn-pesan" [disabled]="!pesan.form.valid" > Pesan Sekarang </button>
        </div>
      </div>
    </form>
  </div>
  
</div>
<app-footer></app-footer>

