<nav class="navbar navbar-transparent navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

            <a [routerLink]="['']" class="navbar-brand" href="#">
                <img alt="Brand" src="../assets/img/travinesia-logo.png" class="brand-logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <div class="input-group stylish-input-group">
                    <input type="text" id='search' (click)=' openDropDown() ' #txtName [(ngModel)]="filtertext" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Cari Wisata">
                    <!-- <div class="search-dropdown" *ngIf='showDropDown'>
                        <div class="item-search" *ngFor="let name of filterTrip | filter: filtertext : 'trip_name'">
                            {{name?.trip_name}}
                        </div>
                    </div> -->
                    <span class="input-group-addon">
                              <button [routerLink]="['/searchNavbar/1']" type="submit" (click)=search()>
                                  <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>

                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['Akun/Pemesanan']" role="button">Pemesanan</a>
                </li>
                <li>
                    <a role="button">Notifikasi</a>
                </li>
                <li>
                    <a [routerLink]="['/JualTrip']" role="button">Travel Saya</a>
                    <!-- <button [routerLink]="['/traveler/JadiTravel']" class="btn btn-trv">Jadi Agen</button> <span class="notif"></span> -->
                </li>

                <a role="button" id="dropdownMenuBar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="profil">
                    <img [src]="photos" class="foto-profil">
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuBar">
                    <li><a class="dropdown-list" [routerLink]="['/JualTrip']">Jual Trip</a></li>
                    <li><a class="dropdown-list" [routerLink]="['/JualTrip/Saldo']">Saldo</a></li>
                    <li><a class="dropdown-list" [routerLink]="['/JualTrip/TransaksiPenjualan']">Transaksi Penjualan</a></li>
                    <li><a class="dropdown-list" [routerLink]="['/JualTrip/DaftarTrip']">Daftar Trip </a></li>
                    <li><a class="dropdown-list">Etalase Travel</a></li>
                    <li><a class="dropdown-list" [routerLink]="['/JualTrip/UbahProfilTravel']">Ubah Profil Travel</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="delete-trip dropdown-list" (click)=logout()>Logout</a></li>

                </ul>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container-fluid-bar-fixed">
    <ul class="head-category">
        <li *ngFor="let category of categoryAllTrip" (click)="searchTrip($event)">
            <a id="{{category.id_category}}" name="{{category.category_name}}" class="btn-search"> <span class="{{category.icon}}"></span> {{category.category_name}} </a>
        </li>

        <li class="kanan">
            <a href=""> <span class="icon-question">
                              <span class="path1"></span><span class="path2"></span>
                </span>
                Bantuan
            </a>
        </li>
    </ul>
    <hr class="line-category">
</div>
<!-- <div *ngFor="let trip of getTripSearch"
[]></div> -->


<div class="margin-content">
    <router-outlet></router-outlet>
</div>


<!-- dropdown profile -->
<div *ngIf="dropLogout" class="logout pull-right">
    <p (click)="logout()">Logout</p>
</div>