<main id="page-content-wrapper" role="main">
    <p class="profil">Pemesanan</p>
    <p class="masukan-profil">Masukkan profil Anda dengan benar. Travinesia akan menghubungi sesuai dengan informasi yang Anda masukkan. 
       Pastikan informasi pada Halaman Profil selalu update jika ada perubahan informasi terkait Anda.</p>
    <div class="trv-notice">
      <span class="txt-notice"> <b>Travinesia</b> akan selalu memberitahukan status terbaru pemesanan melaui email Anda </span>
    </div>
    <!-- Nav tabs -->
    <div class="card">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#status-pembayaran" aria-controls="home" role="tab" data-toggle="tab">Status Pemesanan</a></li>
            <li role="presentation"><a href="#daftar-transaksi" aria-controls="settings" role="tab" data-toggle="tab">Riwayat Transaksi</a></li>
        </ul>
    
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="status-pembayaran">
                <div class="box-wrap-pemesanan" *ngFor="let order of pagedItems; last as isLast">
                    <div class="content-box">
                        <img src="{{order.id_trip.photo_trip['0']}}" class="img-trip">
                        <a class="detail-pack" role="button"> {{order.id_trip.trip_name}} </a>
                        <p class="list-content">Nomor Pesanan <span class="semicolon-margin">:</span> <span class="content-value"> {{order.no_booking}} </span> </p>
                        <p class="list-content">Meeting Point <span class="semicolon-margin">:</span> <span class="content-value"> Angke (07.00 WIB)</span> </p>
                        <p class="list-content">Tanggal Berangkat <span class="semicolon-margin">:</span> <span class="content-value"> {{order.startDate_trip | date:'fullDate'}}</span> </p>
                        <p class="list-content">Jenis Trip <span class="semicolon-margin">:</span> <span class="content-value"> Open Trip ({{order.id_trip.days}} Hari {{order.id_trip.night}} Malam) </span> </p>
                        <div class="dropdown-setting">
                            <span role="button" class="other" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Lainnya </span>
                            <div class="dropdown-menu other-content" aria-labelledby="dropdownMenu1">
                                <p class="other-name">Agen Travel <span class="semicolon">:</span> <span class="other-value">{{ order?.id_trip?.provider?.travel_name }}</span> </p>
                                <p class="other-name">Total Biaya <span class="semicolon">:</span> <span class="other-value"> Rp {{ order.coded_amount.toLocaleString('id') }}</span> </p>
                                <p class="other-name">Kuota dipesan <span class="semicolon">:</span> <span class="other-value"> {{order.quantity}}</span> </p>
                                <p class="other-name">Metode Pembayaran <span class="semicolon">:</span> <span class="other-value"> Open Trip (2 Hari 1 Malam) </span> </p>
                                <p class="other-name">Nama Pemesan <span class="semicolon">:</span> <span class="other-value"> Open Trip (2 Hari 1 Malam) </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-right">
                        <p class="status"> Status :</p>
                        <p class="wait-pay"> {{order.id_statusTrip.status_trip}} </p>
                        <button class="btn-trv-pemesanan" *ngIf="order.id_statusTrip.id_status !== 2 || order.id_statusTrip.id_status !== 6 " (click)="button(order.id_statusTrip.id_status, order)"> {{idPemesanan[(order.id_statusTrip.id_status-1)]}} </button>
                        <p class="see-status" data-toggle="modal" data-target="#status">Lihat Detail Status</p>
    
                        <!-- modal detail status -->
                        <div class="modal fade" id="status" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content status">
                                <div class="modal-header status-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title title">Status Pemesanan</h4>
                                </div>
                                <div class="modal-body status-body">
                                    <!-- <span class="text-content" *ngFor="let status of statusPemesanan; let i=index" [ngClass]="{'text-content-dissable': i<status[(order.id_statusTrip.id_status-1)]}"><i class="glyphicon glyphicon-ok"></i>{{status}}</span> -->
                                    <span class="text-content">
                                        <i class="glyphicon glyphicon-ok"></i>
                                        Menunggu Pembayaran
                                    </span>
                                    <span [ngClass]="(order.id_statusTrip.id_status!=1)? 'text-content' : 'text-content-dissable '">
                                        <i [ngClass]="['glyphicon', (order.id_statusTrip.id_status!=1)? 'glyphicon-ok' : 'glyphicon-remove']"></i>
                                        Sudah dibayar, Menunggu Konfirmasi Agen
                                    </span>
                                    <span [ngClass]="(order.id_statusTrip.id_status!=1 && order.id_statusTrip.id_status!=2)? 'text-content' : 'text-content-dissable '">
                                        <i [ngClass]="['glyphicon', (order.id_statusTrip.id_status!=1 && order.id_statusTrip.id_status!=2)? 'glyphicon-ok' : 'glyphicon-remove']"></i>
                                        Transaksi Diterima, Silahkan Isi Data Peserta
                                    </span>
                                    <span [ngClass]="(order.id_statusTrip.id_status!=1 && order.id_statusTrip.id_status!=2 && order.id_statusTrip.id_status!=3)? 'text-content' : 'text-content-dissable '">
                                        <i [ngClass]="['glyphicon', (order.id_statusTrip.id_status!=1 && order.id_statusTrip.id_status!=2 && order.id_statusTrip.id_status!=3)? 'glyphicon-ok' : 'glyphicon-remove']"></i>
                                        Etiket Terbit
                                    </span>
                                    <span [ngClass]="(order.id_statusTrip.id_status!=1 && order.id_statusTrip.id_status!=2 && order.id_statusTrip.id_status!=3 && order.id_statusTrip.id_status!=4)? 'text-content' : 'text-content-dissable '">
                                        <i [ngClass]="['glyphicon', (order.id_statusTrip.id_status!=1 && order.id_statusTrip.id_status!=2 && order.id_statusTrip.id_status!=3 && order.id_statusTrip.id_status!=4)? 'glyphicon-ok' : 'glyphicon-remove']"></i>
                                        Menunggu Konfirmasi di Meeting Point
                                    </span>
                                    <span [ngClass]="(order.id_statusTrip.id_status!=1 && order.id_statusTrip.id_status!=2 && order.id_statusTrip.id_status!=3 && order.id_statusTrip.id_status!=4 && order.id_statusTrip.id_status!=5)? 'text-content' : 'text-content-dissable '">
                                        <i [ngClass]="['glyphicon', (order.id_statusTrip.id_status!=1 && order.id_statusTrip.id_status!=2 && order.id_statusTrip.id_status!=3 && order.id_statusTrip.id_status!=4 && order.id_statusTrip.id_status!=5)? 'glyphicon-ok' : 'glyphicon-remove']"></i>
                                        Trip Berlangsung
                                    </span>
                                    <span [ngClass]="(order.id_statusTrip.id_status!=1 && order.id_statusTrip.id_status!=2 && order.id_statusTrip.id_status!=3 && order.id_statusTrip.id_status!=4 && order.id_statusTrip.id_status!=5 && order.id_statusTrip.id_status!=6)? 'text-content' : 'text-content-dissable '">
                                        <i [ngClass]="['glyphicon', (order.id_statusTrip.id_status!=1 && order.id_statusTrip.id_status!=2 && order.id_statusTrip.id_status!=3 && order.id_statusTrip.id_status!=4 && order.id_statusTrip.id_status!=5 && order.id_statusTrip.id_status!=6)? 'glyphicon-ok' : 'glyphicon-remove']"></i>
                                        Menunggu Review dan Rating
                                    </span>
                                    <span [ngClass]="(order.id_statusTrip.id_status!=1 && order.id_statusTrip.id_status!=2 && order.id_statusTrip.id_status!=3 && order.id_statusTrip.id_status!=4 && order.id_statusTrip.id_status!=5 && order.id_statusTrip.id_status!=6 && order.id_statusTrip.id_status!=7)? 'text-content' : 'text-content-dissable '">
                                        <i [ngClass]="['glyphicon', (order.id_statusTrip.id_status!=1 && order.id_statusTrip.id_status!=2 && order.id_statusTrip.id_status!=3 && order.id_statusTrip.id_status!=4 && order.id_statusTrip.id_status!=5 && order.id_statusTrip.id_status!=6 && order.id_statusTrip.id_status!=7)? 'glyphicon-ok' : 'glyphicon-remove']"></i>
                                        Trip Selesai
                                    </span>
                                </div>
                                <button class="btn-aksiModal" *ngIf="order.id_statusTrip.id_status !== 2 || order.id_statusTrip.id_status !== 6 " (click)="button(order.id_statusTrip.id_status, order)"> {{idPemesanan[(order.id_statusTrip.id_status-1)]}} </button>
                                <!-- <button class="">Tombol</button> -->
                              </div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="footer-box"> 
                        <p class="quetion">Ada pertanyaan untuk agen travel ?
                           Cobalah Kirim Pesan</p>
                           <button class="btn-send-chat" (click)="kirimPesan()">Kirim Pesan</button>
                        <!-- <button class="btn-send-chat" data-toggle="modal" data-target="#pesan">Kirim Pesan</button> -->
                        <!-- modal kirim pesan -->
                        <div class="modal fade" id="pesan" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content pesan">
                                <div class="modal-header header-pesan">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title title-pesan">Pesan</h4>
                                </div>
                                <div class="modal-body pesan-body">
                                    <form>
                                        <div class="form-group">
                                            <label class="label-pesan">Untuk :</label>
                                            <input class="form-control pesan-untuk" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label class="label-pesan-isi">isi :</label>
                                            <textarea class="form-control isi-pesan" type="text"></textarea>
                                        </div>
                                    </form>
                                    <button class="btn-kirim-pesan pull-right" data-dismiss="modal">Kirim Pesan</button>
                                </div>
                              </div>
                            </div>
                        </div>
                        <p class="detail-paket" (click)="goToDetail(order.id_trip._id)" >Lihat Detail Paket</p>
                    </div>
                </div>
                <!-- pager -->
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">&laquo;</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">&raquo;</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
                <!-- <div class="box-wrap-pemesanan">
                    <div class="content-box">
                        <img src="./assets/img/6.jpg" class="img-trip">
                        <a class="detail-pack" role="button"> Gunung Bromo Paket Sunrise Paket Lengkap </a>
                        <p class="list-content">Nama Trip <span class="semicolon-margin">:</span> <span class="content-value"> Pulau Harapan Kepulauan Seribu</span> </p>
                        <p class="list-content">Tanggal Berangkat <span class="semicolon-margin">:</span> <span class="content-value"> Sabtu, 14 Februari 2018</span> </p>
                        <p class="list-content">Total <span class="semicolon-margin">:</span> <span class="content-value"> Rp 3.600.000</span> </p>
                        <p class="list-content">Metode Pembayaran <span class="semicolon-margin">:</span> <span class="content-value"> Transfer (Bank Mandiri) </span> </p>
                        <p class="list-content">Nama Pemesan <span class="semicolon-margin">:</span> <span class="content-value"> Ney Nack DC</span> </p>
    
                        <button class="btn-trv-pemesanan"> Batalkan Trip</button>
                        <button class="btn-trv-pemesanan"> Kirim Pesan</button>
                    </div>
                </div> -->
            </div>
            <div role="tabpanel" class="tab-pane" id="daftar-transaksi">
                <div class="box-wrap-pemesanan" *ngFor="let histori of dataHistory">
                    <div class="content-box">
                        <img src="{{histori.id_trip.photo_trip['0']}}" class="img-trip">
                        <a class="detail-pack" role="button"> {{histori.id_trip.trip_name}} </a>
                        <p class="list-content">Nomor Pesanan <span class="semicolon-margin">:</span> <span class="content-value"> {{histori.no_booking}} </span> </p>
                        <p class="list-content">Meeting Point <span class="semicolon-margin">:</span> <span class="content-value"> Angke (07.00 WIB)</span> </p>
                        <p class="list-content">Tanggal Berangkat <span class="semicolon-margin">:</span> <span class="content-value"> {{histori.startDate_trip | date:'fullDate'}}</span> </p>
                        <p class="list-content">Jenis Trip <span class="semicolon-margin">:</span> <span class="content-value"> Open Trip ({{histori.id_trip.days}} Hari {{histori.id_trip.night}} Malam) </span> </p>
                        <div class="dropdown-setting">
                            <span role="button" class="other" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Lainnya </span>
                            <div class="dropdown-menu other-content" aria-labelledby="dropdownMenu1">
                                    <p class="other-name">Agen Travel <span class="semicolon">:</span> <span class="other-value">{{ histori?.id_trip?.provider?.travel_name }}</span> </p>
                                    <p class="other-name">Total Biaya <span class="semicolon">:</span> <span class="other-value"> Rp {{ histori.coded_amount }}</span> </p>
                                    <p class="other-name">Kuota dipesan <span class="semicolon">:</span> <span class="other-value"> {{histori.quantity}}</span> </p>
                                    <p class="other-name">Metode Pembayaran <span class="semicolon">:</span> <span class="other-value"> Open Trip (2 Hari 1 Malam) </span> </p>
                                    <p class="other-name">Nama Pemesan <span class="semicolon">:</span> <span class="other-value"> Open Trip (2 Hari 1 Malam) </span> </p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="content-box-right">
                        <p class="status"> Status :</p>
                        <p class="wait-pay"> {{histori.id_statusTrip.status_trip}} </p>
                        <button class="btn-trv-pemesanan" (click)="histori(order.id_statusTrip.id_status, order)"> {{idPemesanan[(order.id_statusTrip.id_status-1)]}} </button>
                        <p class="see-status" data-toggle="modal" data-target="#status">Lihat Detail Status</p> -->
    
                        <!-- modal detail status -->
                        <!-- <div class="modal fade" id="status" role="dialog">
                            <div class="modal-dialog"> -->
                            
                              <!-- Modal content-->
                              <!-- <div class="modal-content status">
                                <div class="modal-header status-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title title">Status Pemesanan</h4>
                                </div>
                                <div class="modal-body status-body">
                                    <span class="text-content"><i class="glyphicon glyphicon-ok"></i>Menunggu Pembayaran </span>
                                    <span class="text-content"><i class="glyphicon glyphicon-ok"></i>Sudah dibayar, Menunggu Konfirmasi Agen</span>
                                    <span class="text-content"><i class="glyphicon glyphicon-ok"></i>Transaksi Diterima, Isi Data Peserta </span>
                                    <span class="text-content"><i class="glyphicon glyphicon-ok"></i>Etiket Terbit </span>
                                    <span class="text-content"><i class="glyphicon glyphicon-ok"></i>Menunggu Konfirmasi di Meeting Point </span>
                                    <span class="text-content"><i class="glyphicon glyphicon-ok"></i>Trip Berlangsung</span>
                                    <span class="text-content"><i class="glyphicon glyphicon-ok"></i>Menunggu Review dan Rating </span>
                                    <span class="text-content"><i class="glyphicon glyphicon-ok"></i>Trip Selesai</span>
                                </div>
                                <button class="btn-aksiModal">Tombol</button>
                              </div>
                              
                            </div>
                        </div>
                    </div> -->
                    <div class="footer-box"> 
                        <p class="quetion">Ada pertanyaan untuk agen travel ?
                           Cobalah Kirim Pesan</p>
                        <button class="btn-send-chat" data-toggle="modal" data-target="#pesan">Kirim Pesan</button>
                        <!-- modal kirim pesan -->
                        <div class="modal fade" id="pesan" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content pesan">
                                <div class="modal-header header-pesan">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title title-pesan">Pesan</h4>
                                </div>
                                <div class="modal-body pesan-body">
                                    <form>
                                        <div class="form-group">
                                            <label class="label-pesan">Untuk :</label>
                                            <input class="form-control pesan-untuk" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label class="label-pesan-isi">isi :</label>
                                            <textarea class="form-control isi-pesan" type="text"></textarea>
                                        </div>
                                    </form>
                                    <button class="btn-kirim-pesan pull-right" data-dismiss="modal">Kirim Pesan</button>
                                </div>
                              </div>
                            </div>
                        </div>
                        <p class="detail-paket" (click)="goToDetail(order.id_trip._id)" >Lihat Detail Paket</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>