<!-- <app-loader *ngIf="loaded"></app-loader> -->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="wrap-menu-info">
                <div class="wrap-info-content">
                    <img class="bgn-img" src="{{profileProvider?.cover}}">

                    <div class="wrap-img-circle">
                        <img class="img-info" src="{{profileProvider?.logo}}">
                    </div>

                    <div class="info-tittle"> {{profileProvider?.travel_name}} </div>
                    <p class="info-level-travel"> Trip Berhasil : 86 </p>
                </div>

                <hr>

                <ul class="list-menu">
                    <li>
                        <a class="padding-right" [routerLink]="['JualTrip']" [queryParams]="{order:'Jual Trip'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-shopping-cart"></i>
                                                      </span>
                            <span class="sidebar-title">Jual Trip</span>

                            <span class="pull-right"> <i class="glyphicon glyphicon-chevron-right"></i> </span>
                            <span class="pull-right margin-right"> <i class="badge"> 7 </i> </span>
                        </a>
                    </li>

                    <li>
                        <a class="padding-right" [routerLink]="['Saldo']" [queryParams]="{order:'Saldo'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-usd"></i>
                                                      </span>
                            <span class="sidebar-title">Saldo</span>
                            <span class="pull-right"> <i class="glyphicon glyphicon-chevron-right"></i> </span>
                        </a>
                    </li>

                    <li>
                        <a class="padding-right" [routerLink]="['TransaksiPenjualan']" [queryParams]="{order:'Transaksi Penjualan'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-transfer"></i>
                                                      </span>
                            <span class="sidebar-title">Transaksi Penjualan</span>
                            <span class="pull-right"> <i class="glyphicon glyphicon-chevron-right"></i> </span>
                        </a>
                    </li>

                    <li>
                        <a class="padding-right" [routerLink]="['DaftarTrip']" [queryParams]="{order:'Daftar Trip'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-list-alt"></i>
                                                      </span>
                            <span class="sidebar-title">Daftar Trip</span>
                            <span class="pull-right"> <i class="glyphicon glyphicon-chevron-right"></i> </span>
                        </a>
                    </li>

                    <li>
                        <a class="padding-right etalase" (click)="goEtalase()">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-home"></i>
                                                      </span>
                            <span class="sidebar-title">Etalase Travel</span>
                            <span class="pull-right"> <i class="glyphicon glyphicon-chevron-right"></i> </span>
                        </a>
                    </li>

                    <li>
                        <a class="padding-right" [routerLink]="['UbahProfilTravel']" [queryParams]="{order:'Ubah Profil Travel'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-user"></i>
                                                      </span>
                            <span class="sidebar-title">Ubah Profil Travel</span>
                            <span class="pull-right"> <i class="glyphicon glyphicon-chevron-right"></i> </span>
                        </a>
                    </li>

                    <li>
                        <span class="sidebar-sub-title">Kotak Masuk</span>
                    </li>

                    <li>
                        <a class="padding-right" [routerLink]="['PesanMasuk']" [queryParams]="{order:'Pesan Masuk Travel'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-download-alt"></i>
                                                      </span>
                            <span class="sidebar-title">Pesan Masuk</span>
                            <span class="pull-right"> <i class="glyphicon glyphicon-chevron-right"></i> </span>
                        </a>
                    </li>

                    <li>
                        <a class="padding-right" [routerLink]="['DiskusiProvider']" [queryParams]="{order:'Diskusi Trip Travel'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-comment"></i>
                                                      </span>
                            <span class="sidebar-title">Diskusi Trip</span>
                            <span class="pull-right"> <i class="glyphicon glyphicon-chevron-right"></i> </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="wrap-content-padding">
                <p class="root-sidebar"> Beranda > Travel Saya > {{ order }}</p>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>