<div *ngIf='jual2'>
    <div class="wrap-tittle">
        <p class="head-content"> Jual Trip </p>
        <span class="state-all"> Tahap 2 dari 2</span>
        <span class="state-back"> <a (click)="toggleJual()"> < Kembali ke halaman sebelumnya <span>|</span> </a>
        </span>
    </div>

    <div class="info-trip-term"> Jual Trip Travel Anda disini. Masukkan informasi trip selengkap mungkin untuk meningkatkan kepercayaan traveller terhadap paket trip yang ditawarkan. Berikan fasilitas yang terbaik Travel Anda.</div>

    <div class="wrap-deskripsi">
        <label class="label-form" for="Deskripsi">Deskripsi</label>
        <textarea class="deskripsi-trip form-control" id="Deskripsi" placeholder="Tuliskan deskripsi singkat trip (dapat juga berupa keunggulan atau pelayanan travel anda) beserta itinerary. Tuliskan juga fasilitas yang tidak tercantum di kolom sebelumnya"></textarea>

    </div>

    <div class="wrap-mepo">
        <label class="label-form" for="mepo">Meeting Point (MePo)</label>
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-mepo dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            <input type="text" class="mepo-trip form-control" placeholder="Cari lokasi meeting point" aria-describedby="mepo" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl">
        </div>
        <div class="catatan-mepo"> <span class="note-mepo">Catatan :</span> Masukkan nama tempat atau gedung populer di sekitar meeting point</div>

        <agm-map [latitude]="latitude" [longitude]="longitude">
            <agm-marker [latitude]="latitude" [longitude]="longitude"> </agm-marker>
        </agm-map>
    </div>

    <div class="wrap-petunjuk">
        <label class="label-form" for="petunjuk">Petunjuk ke Meeting Point</label>
        <textarea class="petunjuk-trip form-control" id="petunjuk" placeholder="Tuliskan petunjuk (jalan yang dilalui dan transportasi yang digunakan) untuk menuju meeting point."></textarea>
    </div>

    <div class="wrap-waktu">
        <div class="tittle-waktu">Waktu bertemu:</div>

        <input type="text" placeholder="Jam" class="waktu-bertemu-input form-control"> :

        <input type="text" placeholder="Menit" class="waktu-bertemu-input form-control">

        <select class="form-control form-waktu">
            <option>WIB</option>
            <option>WITA</option>
            <option>WIT</option>	
            </select>
        <div class="note-waktu">Diisi sesuai dengan waktu wilayah di trip berada, sesuai pembagian zona waktu Indonesia</div>
    </div>

    <div class="wrap-catatan">
        <label class="label-form" for="catatan">Catatan untuk Traveller</label>

        <textarea class="catatan-trip form-control" id="catatan" placeholder="Contoh : Traveller diharapkan membawa obat pribadi, payung jas hujan dan peralatan lainnya yang bersifat pribadi"></textarea>

    </div>

    <div class="wrap-harga">
        <div class="wrap-publish">
            <label class="label-form" for="harga">Harga Trip</label>
            <div class="publish-trip input-group">
                <span class=" input-group-addon" id="harga"> <span class="rupiah"> Rp </span> </span>
                <input type="text" class="form-control publish-price" placeholder="Harga Publish">
            </div>
            <span class="perorang">/ Orang </span>
        </div>

        <div class="wrap-kuota">
            <label class="label-form" for="harga">Kuota Trip</label>
            <div class="publish-trip input-group">
                <input type="text" class="form-control" placeholder="Jumlah">
                <span class=" input-group-addon" id="harga"> Peserta </span>
            </div>
        </div>
    </div>

    <div class="wrap-checkbox">
        <input type="checkbox" class="checkbox">
        <label class="label-checkbox"> Dengan ini saya meneyetujui bahwa paket trip yang saya jual sesuai dengan syarat dan
                ketentuan pihak Travinesia dan bersedia mengikuti segala kebijakan yang berlaku. <a class="read-more"> Baca Selengkapnya </a> </label>
    </div>

    <div class="wrap-btn">
        <button type="submit" class="btn-content"> Jual Trip</button>
    </div>
</div>

<div *ngIf='jual1'>
    <app-jual-trip-content></app-jual-trip-content>
</div>