<form (submit)="onSubmitEditTrip()">
    <div *ngIf='content1'>
        <div class="wrap-tittle">
            <p class="head-content"> Ubah Trip </p>
            <span class="state-all"> Tahap 1 dari 2</span>
        </div>

        <div class="info-trip-term"> Ubah Trip Travel Anda disini. Anda dapat merubah beberapa informasi paket trip yang Anda jual
            <span class="textpink"> Beberapa informasi tidak dapat dirubah untuk menjaga kenyamanan dan kepercayaan Traveller </span>
        </div>

        <div class="info-term" *ngIf='successedTrip'><span class="bold-term">Trip berhasil diperbaharui. </span> Silahkan cek pilihan "Daftar Trip" untuk melihat seluruh trip yang anda jual</div>


        <div class="wrap-img-trip">
            <label class="label-form" for="namaTrip">Gambar Trip</label>

            <div class="img-paket">
                <div class="img-paket-core">
                    <label>
                                <div class="img-add">
                                    <img src="{{trip.photo_trip[0] == undefined ? '../assets/img/add.png' : trip.photo_trip[0] }}" class="add">
                                    <input type="file" hidden (change)="uploadImage1($event)" >
                                </div>
                            </label>

                    <p class="tittle-img-core">Gambar Utama </p>
                </div>

                <div class="img-paket-gallery">
                    <div class="row">
                        <div class="col-md-3">
                            <label>
                                        <div class="img-add">
                                            <img src="{{trip.photo_trip[1] == undefined ? '../assets/img/add.png' : trip.photo_trip[1] }}" class="add">
                                            <input type="file" hidden (change)="uploadImage2($event)">
                                        </div>
                                    </label>
                            <p class="tittle-img-core">Panorama/ Lokasi Trip </p>
                        </div>

                        <div class="col-md-3">
                            <label>
                                        <div class="img-add">
                                            <img src= "{{trip.photo_trip[2] == undefined ? '../assets/img/add.png' : trip.photo_trip[2] }}"  class="add">
                                            <input type="file" hidden (change)="uploadImage3($event)">
                                        </div>
                                    </label>
                            <p class="tittle-img-core">Peserta Trip</p>
                        </div>

                        <div class="col-md-3">
                            <label>
                                        <div class="img-add">
                                            <img src="{{trip.photo_trip[3] == undefined ? '../assets/img/add.png' : trip.photo_trip[3] }}" class="add">
                                            <input type="file" hidden (change)="uploadImage4($event)">
                                        </div>
                                    </label>
                            <p class="tittle-img-core">Kegiatan Trip</p>
                        </div>

                        <div class="col-md-3">
                            <label>
                                        <div class="img-add">
                                            <img src="{{trip.photo_trip[4] == undefined ? '../assets/img/add.png' : trip.photo_trip[4] }}" class="add">
                                            <input type="file" hidden (change)="uploadImage5($event)">
                                        </div>
                                    </label>
                            <p class="tittle-img-core">Fasilitas Trip</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrap-form-trip">
            <label class="label-form" for="namaTrip">Nama Trip</label>

            <input class="form-control nama-trip" id="namaTrip" placeholder="Contoh : Pulau Harapan Kepulauan Seribu" [(ngModel)]="trip.trip_name" name="trip_name">

        </div>

        <div class="wrap-option">
            <div class="row">
                <div class="col-md-12">
                    <label class="label-form">Jenis Trip</label>
                    <div class="radio">
                        <label class="radio"><input type="radio" name="radios" id="1" value="1" [(ngModel)]="trip.id_type_trip" name="id_type_trip"  ><span class="outer"><span class="inner"></span></span>Open</label>
                        <label class="radio"><input type="radio" name="radios" id="2" value="2" [(ngModel)]="trip.id_type_trip" name="id_type_trip" ><span class="outer"><span class="inner"></span></span>Private</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrap-option">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrap-label-date">
                        <label class="label-form">Tanggal Berangkat</label>
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        <span class="label-date">Anda dapat memilih maksimal 5 tanggal keberangkatan untuk trip serupa</span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="tanggal-trip input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-calendar"></span></button>
                                </div>
                                <input type="date" [(ngModel)]="trip.date_trip[0]" name="date_trip[0]" class=" form-control">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="tanggal-trip input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-calendar"></span></button>
                                </div>
                                <input type="date" [(ngModel)]="trip.date_trip[1]" name="date_trip[1]" class=" form-control">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="tanggal-trip input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-calendar"></span></button>
                                </div>
                                <input type="date" [(ngModel)]="trip.date_trip[2]" name="date_trip[2]" class=" form-control">
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="tanggal-trip input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-calendar"></span></button>
                                </div>
                                <input type="date" [(ngModel)]="trip.date_trip[3]" name="date_trip[3]" class=" form-control">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="tanggal-trip input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-calendar"></span></button>
                                </div>
                                <input type="date" [(ngModel)]="trip.date_trip[4]" name="date_trip[4]" class=" form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrap-option">
            <div class="row">
                <div class="col-md-4">
                    <label class="durasi">Durasi Trip </label>
                    <select class="form-control form-durasi" [(ngModel)]="trip.days" name="days">
                    <option value="1">1 Hari</option>
                    <option value="2">2 Hari</option>
                    <option value="3">3 Hari</option>
                    <option value="4">4 Hari</option>
                    <option value="5">5 Hari</option>
                    <option value="6">6 Hari</option>
                    <option value="7">7 Hari</option>
                    <option value="8">8 Hari</option>
                    <option value="9">9 Hari</option>
                    <option value="10">10 Hari</option>
                    </select>
                </div>

                <div class="col-md-offset-1 col-md-7">
                    <label class="kategori">Kategori Trip </label>
                    <span class="kategori-tittle">Kategori Utama :</span>
                    <select class="form-control form-kategori" [(ngModel)]="trip.category" name="category">
                    <option>Pilih Kategori</option>
                    <option *ngFor="let category of categoryTrip" id="{{category.category_name}}" value="{{category.id_category}}">{{category.category_name}}</option>
                    <!-- <option id="City Tour" >City Tour</option>
                                    <option id="Culture">Culture</option>
                                    <option id="Fishing">Fishing</option>
                                    <option id="Hiking">Hiking</option>
                                    <option id="Honeymoon">Honeymoon</option>
                                    <option id="Tracking">Tracking</option>
                                    <option id="Sailing">Sailing</option> -->
                    </select>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <label class="sort" for="lokasi"> Lokasi (Provinsi) </label>
                    <select class="form-control form-sort" [(ngModel)]="trip.id_province_trip" name="id_province_trip">
                    <option>Pilih Provinsi</option>
                    <option *ngFor="let province of provinceTrip" value="{{province.id_province}}">{{province.province_name}} </option>
                    <!-- <option >Sumatra Utara</option>
                                                            <option >Sumatra Selatan </option>
                                                            <option >Sumatra Barat</option>
                                                            <option >Bengkulu</option>
                                                            <option >Riau</option>
                                                            <option >Kepulauan Riau</option>
                                                            <option >Jambi</option>
                                                            <option >Lampung</option>
                                                            <option >Bangka Belitung</option>
                                                            <option >Kalimantan Barat</option>
                                                            <option >Kalimantan Timur</option>
                                                            <option >Kalimantan Selatan</option>
                                                            <option >Kalimantan Tengah</option>
                                                            <option >Kalimantan Utara</option>
                                                            <option >Banten </option>
                                                            <option >DKI Jakarta  </option>
                                                            <option >Jawa Barat </option>
                                                            <option >Jawa Tengah </option>
                                                            <option >DI Yogyakarta </option>
                                                            <option >Jawa Timur </option>
                                                            <option >Bali </option>
                                                            <option >Nusa Tenggara Timur </option>
                                                            <option >Nusa Tenggara Barat </option>
                                                            <option >Gorontalo </option>
                                                            <option >Sulawesi Barat </option>
                                                            <option >Sulawesi Tengah </option>
                                                            <option >Sulawesi Utara </option>
                                                            <option >Sulawesi Tenggara </option>
                                                            <option >Sulawesi Selatan </option>
                                                            <option >Maluku Utara </option>
                                                            <option >Maluku </option>
                                                            <option >Papua Barat </option>
                                                            <option >Papua  </option> -->
                    </select>
                </div>

                <div class="col-md-offset-1 col-md-7">
                    <div class="kategori-tittle">
                        <span class="kategori-tittle-lanjutan">Kategori Lainnya : (Pilih Dua)</span>
                    </div>
                    <div class="wrap-category-item">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="checkbox" class="checkbox" value="Beach" name="id_category">
                                <span class="checkbox-label-fasilitas">Beach</span>
                            </div>

                            <div class="col-md-6">
                                <input type="checkbox" class="checkbox" value="Hiking" name="id_category">
                                <span class="checkbox-label-fasilitas">Hiking</span>
                            </div>

                            <div class="col-md-6">
                                <input type="checkbox" class="checkbox" name="id_category">
                                <span class="checkbox-label-fasilitas">City Tour</span>
                            </div>

                            <div class="col-md-6">
                                <input type="checkbox" class="checkbox" name="id_category">
                                <span class="checkbox-label-fasilitas">Honeymoon</span>
                            </div>

                            <div class="col-md-6">
                                <input type="checkbox" class="checkbox" name="id_category">
                                <span class="checkbox-label-fasilitas">Culture</span>
                            </div>

                            <div class="col-md-6">
                                <input type="checkbox" class="checkbox" name="id_category">
                                <span class="checkbox-label-fasilitas">Tracking</span>
                            </div>

                            <div class="col-md-6">
                                <input type="checkbox" class="checkbox" name="id_category">
                                <span class="checkbox-label-fasilitas">Fishing</span>
                            </div>

                            <div class="col-md-6">
                                <input type="checkbox" class="checkbox" name="id_category">
                                <span class="checkbox-label-fasilitas">Sailing</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrap-label-fasilitas">
            <label class="label-form">Fasilitas Trip </label>
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="tittle-fasilitas">Pilih fasilitas apa saja yang termasuk dalam paket wisata yang akan anda jual. Jika tidak ada pada pilihan, anda dapat menulisakn pada kolom deskripsi di halaman berikutnya.</span>
        </div>

        <div class="wrap-fasilitas">
            <label class="label-fasilitas">Penginapan</label>
            <div class="row">
                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Homestay</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Villa</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Hotel</span>
                </div>
            </div>

            <div class="margin-fasilitas"></div>
            <label class="label-fasilitas">Transportasi</label>
            <div class="row">
                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Kapal</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Speedboat</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Minibus</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Bus</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Mobil Elf</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Flight</span>
                </div>
            </div>

            <div class="margin-fasilitas"></div>
            <div class="row">
                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Makan</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Snack</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Barbeque</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Souvenir</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Welcome Drink</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Guide</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">P3K / Obat-obatan</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Life Jacket</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Karaoke</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Dokumentasi</span>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label-fasilitas">Tiket Objek Wisata</span>
                </div>
            </div>
        </div>

        <div class="wrap-btn">
            <button (click)="toggleJual()" class="btn-content"> Selanjutnya</button>
        </div>
    </div>



    <div *ngIf='content2'>
        <div class="wrap-tittle">
            <p class="head-content"> Ubah Trip </p>
            <span class="state-all"> Tahap 2 dari 2</span>
            <span class="state-back"> <a (click)="toggleJual()"> < Kembali ke halaman sebelumnya <span>|</span> </a>
            </span>
        </div>

        <div class="info-trip-term"> Jual Trip Travel Anda disini. Masukkan informasi trip selengkap mungkin untuk meningkatkan kepercayaan traveller terhadap paket trip yang ditawarkan. Berikan fasilitas yang terbaik Travel Anda.</div>

        <div class="wrap-deskripsi">
            <label class="label-form" for="Deskripsi">Deskripsi</label>
            <textarea class="deskripsi-trip form-control" [(ngModel)]="trip.description" name="description" placeholder="Tuliskan deskripsi singkat trip (dapat juga berupa keunggulan atau pelayanan travel anda) beserta itinerary. Tuliskan juga fasilitas yang tidak tercantum di kolom sebelumnya"></textarea>

        </div>

        <div class="wrap-mepo">
            <label class="label-form" for="mepo">Meeting Point (MePo)</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-mepo dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-search"></span></button>
                </div>

                <!-- <input type="text" class="mepo-trip form-control" placeholder="Cari lokasi meeting point" aria-describedby="mepo" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl"> -->
            </div>
            <div class="catatan-mepo"> <span class="note-mepo">Catatan :</span> Masukkan nama tempat atau gedung populer di sekitar meeting point</div>

        </div>

        <div class="wrap-petunjuk">
            <label class="label-form" for="petunjuk">Petunjuk ke Meeting Point</label>
            <textarea class="petunjuk-trip form-control" id="petunjuk" [(ngModel)]="trip.notes_meeting_point" name="notes_meeting_point" placeholder="Tuliskan petunjuk (jalan yang dilalui dan transportasi yang digunakan) untuk menuju meeting point."></textarea>
        </div>

        <div class="wrap-waktu">
            <div class="tittle-waktu">Waktu bertemu:</div>

            <input type="number" placeholder="Jam" class="waktu-bertemu-input form-control"> :

            <input type="number" placeholder="Menit" class="waktu-bertemu-input form-control">

            <select class="form-control form-waktu">
                <option value="WIB">WIB</option>
                <option value="WITA">WITA</option>
                <option value="WIT">WIT</option>	
            </select>
            <div class="note-waktu">Diisi sesuai dengan waktu wilayah di trip berada, sesuai pembagian zona waktu Indonesia</div>
        </div>

        <div class="wrap-catatan">
            <label class="label-form" for="catatan">Catatan untuk Traveller</label>

            <textarea class="catatan-trip form-control" id="catatan" [(ngModel)]="trip.notes_traveler" name="notes_traveler" placeholder="Contoh : Traveller diharapkan membawa obat pribadi, payung jas hujan dan peralatan lainnya yang bersifat pribadi"></textarea>

        </div>

        <div class="wrap-harga">
            <div class="wrap-publish">
                <label class="label-form" for="harga">Harga Trip</label>
                <div class="publish-trip input-group">
                    <span class=" input-group-addon" id="harga"> <span class="rupiah"> Rp </span> </span>
                    <input type="number" min="0" class="form-control publish-price" [(ngModel)]="trip.publish_price" name="publish_price" placeholder="Harga Publish">
                </div>
                <span class="perorang">/ Orang </span>
            </div>

            <div class="wrap-kuota">
                <label class="label-form" for="harga">Kuota Trip</label>
                <div class="publish-trip input-group">
                    <input type="number" min="1" max="100" class="form-control" [(ngModel)]="trip.quota_trip" name="quota_trip" placeholder="Jumlah">
                    <span class=" input-group-addon" id="harga"> Peserta </span>
                </div>
            </div>
        </div>

        <div class="wrap-checkbox">
            <input type="checkbox" class="checkbox">
            <label class="label-checkbox"> Dengan ini saya meneyetujui bahwa paket trip yang saya jual sesuai dengan syarat dan
                    ketentuan pihak Travinesia dan bersedia mengikuti segala kebijakan yang berlaku. <a class="read-more"> Baca Selengkapnya </a> </label>
        </div>

        <div class="wrap-btn">
            <button type="submit" class="btn-content"> Ubah Trip</button>
        </div>
    </div>

</form>