<main id="page-content-wrapper" role="main">
    <p class="profil">Pesan Masuk</p>
    <p class="masukan-profil">Tanyakan semua hal terkait Trip kepada Traveller di Pesan Masuk. Ciptakan komuniasi dan Trip yang menyenangkan dimulai dari Pesan Masuk.</p>

    <div class="history-chat">
        <ul class="msg-list">
            <li *ngFor="let list of counter(10); let i=index" (click)="showChat()">
                <a class="link">
                    <div class="chat">
                        <div class="image">
                            <img src="assets/img/foto.png">
                        </div>
                        <div class="keterangan">
                            <span>Kuylah Travel Indonesia</span><span class="time">20.30</span>
                            <p class="text-chat">masih ada gan silahkan book lagi</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>



    <div *ngIf='showChatText' class="content-chat">
        <div class="header-chat">
            <div class="akun-image">
                <img src="assets/img/foto.png">
            </div>
            <div class="akun-text">
                <span class="akun-name">Kuylah Travel Indonesia</span>
                <p class="my-akun">Agen Traveler</p>
            </div>
        </div>
        <div class="percakapan">

        </div>
        <div class="send-chat">
            <input type="text" class="form-diskusi" placeholder="Tulis Pesan ...">
            <a class="send">
                Kirim
            </a>
        </div>
    </div>
</main>