<a (click)="toggleBack()" class="kembali-transaksi"><span class="glyphicon glyphicon-arrow-left"></span> Kembali ke Transaksi Penjualan</a>

<div class="wrap-paket-trip-daftar">
    <div class="wrap-content-paket-trip">
        <img class="img-paket-trip" src="{{photo_trip}}">

        <div class="wrap-info-paket-trip">
            <p class="tittle-paket-trip">{{trip_name}} </p>

            <div class="tittle-info">Durasi
                <span class="colon-info">:</span>
                <div class="tittle-info-value">{{days}} Hari {{night}} Malam</div>
            </div>

            <div class="tittle-info">Kategori
                <span class="colon-info">:</span>
                <div class="tittle-info-value">{{category}}</div>
            </div>

            <div class="tittle-info">Jenis Trip
                <span class="colon-info">:</span>
                <div class="tittle-info-value">{{id_type_trip}}</div>
            </div>
        </div>

        <div class="wrap-info-harga">
            <div class="tittle-info-harga">Harga per orang :</div>
            <div class="info-harga">Rp {{(publish_price)}}</div>
            <div class="info-kuota">Kuota : {{quota_trip}}</div>
            <a class="info-detail-trip" (click)="goDetailPesan()">Lihat Detail Trip</a>
        </div>

    </div>

    <div class="wrap-btn-trv">
        <span class="tgl-berangkat">Tanggal Berangkat : </span> <select (change)="daftarChange($event.target.value)" class="form-control form-tgl">
                    <option *ngFor="let date of date_trip; let x = index" value="{{x}}" > {{date | date:"fullDate"}}</option>
                  </select>
        <span class="sisa-kuota">Sisa Kuota : <span class="highlight-kuota"> </span> {{quota_left}}</span>
    </div>
</div>

<div class="wrap-sort-pesan">
    <span class="sort-by">Urutkan Berdasarkan : </span>
    <select class="form-control form-sort">
                <option>Pesanan Baru (Waktu Diterima)</option>
                <option>Sabtu, 14 Desember 2018</option>
                <option>Sabtu, 14 Desember 2018</option>
                <option>Sabtu, 14 Desember 2018</option>
                <option>Sabtu, 14 Desember 2018</option>	
              </select>

    <button (click)="download()" class="unduh-data-peserta">Unduh Data Peserta </button>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <th>Pemesan</th>
            <th>Waktu Pemesanan</th>
            <th>Kuota Dipesan</th>
            <th>Status</th>
            <th>Konfirmasi Travel</th>
        </thead>

        <tbody>
            <tr *ngFor="let booking of pagedItems">
                <td>{{booking.order_name}} </td>
                <td>{{booking.created_at | date:"fullDate"}}</td>
                <td>{{booking.quantity}}</td>
                <td>{{booking.id_statusTrip.status_trip}}</td>
                <td (click)="acceptTrip($event)">
                    <div id="{{booking._id}}" class="accept-table">{{booking.id_statusTrip.id_status == "2"? "Terima" : ''}}</div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right">

        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPageSaldo(pager.currentPage - 1)">&laquo;</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPageSaldo(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPageSaldo(pager.currentPage + 1)">&raquo;</a>
        </li>

    </ul>
</div>