  <p class="profil">Beri Rating & Ulasan</p>
  <p class="masukan-profil">Masukkan profil Anda dengan benar. Travinesia akan menghubungi sesuai dengan informasi yang Anda masukkan. Pastikan informasi pada Halaman Profil selalu update jika ada perubahan informasi terkait Anda.</p>
  
  <div class="rating">
    <p>Rating</p>
    <div>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
      <span class="icon-star"></span>
    </div>
  </div>
  <div class="ulasan">
    <p>Ulasan</p>
    <textarea class="form-control" placeholder="Ungkapkan semua yang Anda dan teman-teman rasakan selama mengikuti Trip ini."></textarea>
  </div>
  


