<div class="wrap-tittle">
    <p class="head-tittle">Transaksi Penjualan </p>
</div>

<p class="info-paket">Pantau perkembangan penjualan Paket Trip Anda, Pesanan Baru dari traveller, Status Pemesanan, Konfirmasi kehadiran dan riwayat trip Travel Anda.</p>

<div class="row margin-checkbox">
    <div class="col-md-2">
        <input type="checkbox" class="checkbox">
        <span class="checkbox-label-fasilitas">Open Trip</span>
    </div>

    <div class="col-md-3">
        <input type="checkbox" class="checkbox">
        <span class="checkbox-label-fasilitas">Private Trip</span>
    </div>
</div>

<div class="wrap-paket-trip" *ngFor="let data of transaction; let i = index">
    <div class="wrap-content-paket-trip">
        <img class="img-paket-trip" src="../assets/img/trip.jpg">

        <div class="wrap-info-paket-trip">
            <p class="tittle-paket-trip">{{data.trip_name}} </p>

            <div class="tittle-info">Durasi
                <span class="colon-info">:</span>
                <div class="tittle-info-value">{{data.days}} Hari {{data.night}} Malam</div>
            </div>

            <div class="tittle-info">Kategori
                <span class="colon-info">:</span>
                <div class="tittle-info-value">{{data.category[0].category_name}}</div>
            </div>

            <div class="tittle-info">Jenis Trip
                <span class="colon-info">:</span>
                <div class="tittle-info-value">{{data.id_type_trip.type_trip}}</div>
            </div>
        </div>

        <div class="wrap-info-harga">
            <div class="tittle-info-harga">Harga per orang :</div>
            <div class="info-harga">Rp {{data.publish_price}}</div>
            <div class="info-kuota">Kuota : {{data.quota_trip}}</div>
            <a class="info-detail-trip" (click)="goDetail($event)" id="{{data._id}}">Lihat Detail Trip</a>
        </div>

    </div>

    <div class="wrap-btn-trv">
        <span class="tgl-berangkat">Tanggal Berangkat : </span> <select (change)="dateChange($event.target.value,i)" class="form-control form-tgl">
              <option *ngFor="let date of data.date_trip; let j = index" value="{{j}}">{{date | date:"fullDate"}}</option>
            </select>
        <span class="sisa-kuota">Sisa Kuota : <span class="highlight-kuota"> {{quantity[i]}}</span> </span>
        <button class="btn-trv-daftar" (click)="togglePesan($event)" id="{{data._id}}">Lihat Daftar Pemesan </button>
    </div>
</div>

<!-- pager -->
<ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right">
    <!-- <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
    </li> -->
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">&laquo;</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">&raquo;</a>
    </li>
    <!-- <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li> -->
</ul>