<div class="wrap-tittle">
    <p class="head-tittle">Daftar Trip</p>
</div>

<p class="info-paket">Berikut adalah daftar trip yang Anda jual. Anda dapat mengubah informasi paket trip Anda.</p>

<div class="wrap-paket-trip" *ngFor="let trip of tripProvider">
    <div class="wrap-content-paket-trip">
        <img class="img-paket-trip" src={{photo_trip}}>

        <div class="wrap-info-paket-trip">
            <p class="tittle-paket-trip">{{trip.trip_name}} </p>

            <div class="tittle-info">Durasi
                <span class="colon-info">:</span>
                <div class="tittle-info-value">{{trip.days===null || trip.days===undefined ? '' : trip.days +' Hari'}} {{trip.night===null || trip.night===-1 ? '' : trip.night +' Malam'}}</div>
            </div>

            <div class="tittle-info">Kategori
                <span class="colon-info">:</span>
                <div class="tittle-info-value">{{trip.category[0]}}</div>
            </div>

            <div class="tittle-info">Jenis Trip
                <span class="colon-info">:</span>
                <div class="tittle-info-value">{{trip.id_type_trip}}</div>
            </div>
        </div>

        <div class="wrap-info-harga">
            <div class="tittle-info-harga">Harga per orang :</div>
            <div class="info-harga">Rp {{trip.publish_price}}</div>
            <div class="info-kuota">Kuota : {{trip.quota_trip[0]}}</div>
            <a href="#" class="info-detail-trip">Lihat Detail Trip</a>
        </div>

    </div>

    <div class="wrap-btn-trv">
        <button class="btn-trv-ubah" (click)="ubahTrip($event)" id="{{trip._id}}">Ubah Trip </button>
        <button class="btn-trv-kosong" (click)="kosongkanTrip($event)" id="{{trip._id}}">Kosongkan Trip </button>
        <button class="btn-trv-hapus" (click)="hapusTrip($event)" id="{{trip._id}}">Hapus Trip </button>
    </div>
</div>