<div class="blur" (click)="close()" [hidden]="imgError"></div>
<div class="wrap-modal-imgError" [hidden]="imgError">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-success">
            <p class="tittle-imgError">File bukan gambar, harap masukan gambar</p>
            <div (click)="close()" class="btn-trv-ok">Ok </div>
        </div>
    </div>
</div>

<div class="wrap-tittle">
    <p class="head-tittle">Ubah Profil Travel </p>
</div>

<span class="glyphicon glyphicon-exclamation-sign"></span>
<p class="info-paket">Logo dan Nama tidak dapat dirubah demi menjaga kredibelitas traveller terhadap Travel Anda. Baca selengkapnya di <a href="" class="highlight"> Syarat dan ketentuan </a> Travinesia</p>

<form [formGroup]="myForm" (ngSubmit)="onEditProfile()">

    <div class="row">
        <div class="col-md-4">
            <div class="wrap-slogan">
                <label class="label-form">Foto Profil Travel </label>
                <label>
                    <div class="wrap-img-profil">
                        <img src="{{photoLogo}}" alt="" class="img-profil">
                        <input type="file" hidden (change)="uploadImage1($event)">
                    </div>
                </label>
            </div>
        </div>

        <div class="col-md-8">
            <div class="wrap-alamat">
                <label class="label-form">Foto Profil Travel </label>
                <label>
                    <div class="wrap-cover-profil">
                        <img src="{{photoCover}}" alt="" class="cover-profil">
                        <input type="file" hidden (change)="uploadImageCover($event)">
                    </div>
                </label>
            </div>
            <div class="text-cover-profil">Cover Travel dapat dilihat pada halaman Etalase Travel</div>
        </div>
    </div>

    <div>
        <label class="label-form" for="Deskripsi">Deskripsi Travel </label>

        <textarea class="deskripsi-trip form-control" id="Deskripsi" formControlName="description" placeholder="Tuliskan Deskripsi Travel Anda"> </textarea>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="wrap-slogan">
                <label class="label-form" for="Slogan">Slogan Travel </label>

                <textarea class="slogan-trip form-control" id="Slogan" formControlName="slogan" placeholder="Tuliskan Slogan Travel Anda"> </textarea>

            </div>
        </div>

        <div class="col-md-6">
            <div class="wrap-alamat">
                <label class="label-form" for="Alamat">Alamat Travel </label>

                <textarea class="alamat-trip form-control" id="Alamat" formControlName="office_address" placeholder="Tuliskan Alamat Kantor Anda"></textarea>

            </div>

        </div>
    </div>

    <div class="wrap-info-trip">
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" for="provinsi"> Provinsi </label>
                <select class="form-control form-sort" formControlName="province">
                                                          <option >Pilih Provinsi</option>
                                                            <option *ngFor="let province of provinceTrip" value="{{province._id}}"> {{province.province_name}} </option>
                                                      </select>
            </div>

            <div class="col-md-5">
                <label class="label-form" for="NoTelepon"> Nomor Handphone Travel </label>

                <input type="text" (keypress)="keyPress($event)" maxlength="13" class="phone-trip form-control" formControlName="office_phone_number" placeholder="Tuliskan Nomor Hanphone Travel">

            </div>
        </div>

        <div class="wrap-btn-trv">
            <a class="batal">Batal </a>
            <button class="btn-trv-ubah" type="submit"> Simpan </button>
        </div>
    </div>

</form>