<div>
    <p class="profil">Profil</p>
    <p class="masukan-profil">Masukkan profil Anda dengan benar. Travinesia akan menghubungi sesuai dengan informasi yang Anda masukkan. Pastikan informasi pada Halaman Profil selalu update jika ada perubahan informasi terkait Anda.</p>
    <div class="trv-notice">
        <span class="txt-notice"> <b>Travinesia</b> akan selalu memberitahukan status terbaru pemesanan melaui email Anda </span>
    </div>
    <div class="col-md-8">
        <div class="form">
            <form (submit)="onSubmit()" >
                <div class="form-group">
                    <label for="name" class=" form-label"> Nama Lengkap <p class="pull-right">:</p></label>
                    <div class="form-nama">
                        <input type="text" class="form-control" name="name" [(ngModel)]="edit.name" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tanggalLahir" class="form-label"> Tanggal Lahir <p class="pull-right">:</p></label>
                    <div class="form-tanggal">
                        <div class="form-group">
                            <select class="form-control form-select" (change)="onSelectDate($event)" [(ngModel)]="edit.day" name="day">
                                <option value="" disabled selected>Tanggal</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="08">7</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option> 	
                            </select>
                        </div>
                    </div>
                    <div class="form-bulan">
                        <div class="form-group">
                            <select class="form-control form-select" (change)="onSelectMonth($event)" [(ngModel)]="edit.month" name="month">
                                <option value="" disabled selected>Bulan</option>
                                <option value="01">Januari</option>
                                <option value="02">Februari</option>
                                <option value="03">Maret</option>
                                <option value="04">April</option>
                                <option value="05">Mei</option>
                                <option value="06">Juni</option>
                                <option value="07">Juli</option>
                                <option value="08">Agustus</option>
                                <option value="09">September</option>
                                <option value="10">Oktober</option>
                                <option value="11">November</option>
                                <option value="12">Desember</option>	
                            </select>
                        </div>
                    </div>
                    <div class="form-tahun">
                        <div class="form-group">
                            <select class="form-control form-select" (change)="onSelectYear($event)" [(ngModel)]="edit.year" name="year">
                                <option value="" disabled selected>Tahun</option>
                                <option value="1980">1980</option>
                                <option value="1981">1981</option>
                                <option value="1982">1982</option>
                                <option value="1983">1983</option>
                                <option value="1984">1984</option>
                                <option value="1985">1985</option>
                                <option value="1986">1986</option>
                                <option value="1987">1987</option>
                                <option value="1988">1988</option>
                                <option value="1989">1989</option>
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="radio-trv">
                        <label for="optradio" class="label-radio">Jenis Kelamin <p class="pull-right">:</p></label>
                        <div class="radio" >
                            <label class="trv-radio"><input type="radio" name="radios" value="Pria" id="1" [(ngModel)]="edit.gender" name="gender"><span class="outer"><span class="inner"></span></span>Laki-Laki</label>
                            <label class="trv-radio"><input type="radio" name="radios" value="2" id="2" [(ngModel)]="edit.gender" name="gender"><span class="outer"><span class="inner"></span></span>Perempuan</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="form-label"> Email <p class="pull-right">:</p></label>
                    <div class="form-email">
                        <input id="email" type="email" class="form-control"  name="email" [(ngModel)]="edit.email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="telephone" class="form-label"> No. HP <p class="pull-right">:</p></label>
                    <div class="form-telepone">
                        <input id="telephone" type="string" (keypress)="keyPress($event)" class="form-control" name="telephone"  [(ngModel)]="edit.telephone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="identity" class="form-label"> No Identitas <p class="pull-right">:</p></label>
                    <div class="form-identitas">
                        <input id="identity" type="text" class="form-control" name="identity_number" [(ngModel)]="edit.identity_number" required>
                        <!-- <div [hidden]="identity.valid || identity.pristine"
                            class="alert trv-alert"> -->
                            <!-- <div [hidden]="!identity.hasError('minlength')">Mobile should be 10digit</div> -->
                            <!-- <div [hidden]="!identity.hasError('required')">Mobile is required</div> -->
                            <!-- <div [hidden]="!identity.hasError('pattern')">No Identitas hanya bisa diisi dengan angka saja</div>
                        </div> -->
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-simpan" type="submit">Simpan</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <img src="{{edit.photo}}" class="image">
        <div class="ubahPr">
            <label class="btn-ubahProfil"><input class="btn" type="file" hidden (change)="getFiles($event)" accept="image/x-png,image/gif,image/jpeg">Ubah Foto Profil</label>
            <p class="btn-deskripsi">Maksimum ukuran file 2 Mb format.JPG,.JPEG atau.PNG</p>
        </div>
        <div class="ubahPa">
            <button class="btn btn-ubahPassword" type="button" data-toggle="modal" data-target="#ubahpassword">
        <span class="glyphicon glyphicon-lock lock"></span>Ubah Password</button>
        </div>
    </div>
    <div class="modal fade" id="ubahpassword" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <p class="modal-title"><span class="glyphicon glyphicon-lock"></span> Ubah Password</p>
                </div>
                <form (submit)="changePassword()">
                <div class="modal-body">
                    
                        <div class="form-group">
                            <label class="label-modal">Password Lama</label>
                            <input [type]="show ? 'text': 'password'" class="form-control modal-form" [(ngModel)]="pwd.password" name="password">
                            <span *ngIf="show === false" class="glyphicon glyphicon-eye-open mata" (click)="pwdLama()"></span>
                            <span *ngIf="show === true" class="glyphicon glyphicon-eye-close mata" (click)="pwdLama()"></span>
                        </div>
                        <div class="form-group">
                            <label class="label-modal">Password Baru</label>
                            <input [type]="showUBaru ? 'text': 'password'" class="form-control modal-form" [(ngModel)]="pwd.new_password" name="new_password">
                            <span *ngIf="showUBaru === false" class="glyphicon glyphicon-eye-open mata" (click)="pwdBaru()"></span>
                            <span *ngIf="showUBaru === true" class="glyphicon glyphicon-eye-close mata" (click)="pwdBaru()"></span>
                        </div>
                        <div class="form-group">
                            <label class="label-modal">Ulangi Password Baru</label>
                            <input [type]="showBaru ? 'text': 'password'" class="form-control modal-form" [(ngModel)]="pwd.repeatPassword" name="repeatPassword">
                            <span *ngIf="showBaru === false" class="glyphicon glyphicon-eye-open mata" (click)="updatePwdBaru()"></span>
                            <span *ngIf="showBaru === true" class="glyphicon glyphicon-eye-close mata" (click)="updatePwdBaru()"></span>
                        </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-batal" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-save">Simpan</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>