.masukan-profil{
    font-size: 13px;
    width: 100%;
    line-height: 1.56;
}

.profil{
    font-weight: bold;
    font-size: 40px;
    font-family: sans-serif;
    display: initial;
}

.input-form{
    margin-bottom: 15px;
}


.label-form{
    display: inline-block;
    margin-top: 10px;
}

.label-form p{
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
    margin-bottom: 0;
}

.form-control{
    display: inline-block;
}

.input-name{
    width: 330px;
}

.label-age{
    position: relative;
    left: 104.5%;
}

.input-age{
    width: 95px;
    margin-left: 25px;
}

.label-no{
    position: relative;
    left: 119%;
}

.input-no{
    width: 330px;
    margin-left: 26px;
}

.btn-save{
    width: 130px;
    height: 29px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #ab47bc;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ab47bc;
    float: right !important;
    margin-right: 23px;
    margin-top: 10px;
}

.btn-submit{
    width: 156px;
    height: 29px;
    border-radius: 3px;
    background-color: #ab47bc;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
    float: right !important;
    margin-top: 10px;
}