  <p class="profil">Isi Data Peserta</p>
  <p class="masukan-profil">Lengkapi informasi peserta Trip disini. Nama lengkap, umur dan Nomor identitas (Nomor KTP atau Paspor).  Tekan tombol
    Kiirm Data Peserta jika informasi sudah terisi semua dan benar, Lanjutkan Nanti jika melengkapi nanti.</p>

    <form>
      <div class="label-form">
        <p> Nama Lengkap</p>
        <p class="label-age"> Umur(Tahun) </p>
        <p class="label-no"> No.Identitas </p>
      </div>
      <div class="input-form">
        <input class="form-control input-name" type="text">
        <input class="form-control input-age" type="text">
        <input class="form-control input-no" type="text">
      </div>
    </form>
