<app-loader *ngIf="loaded"></app-loader>
<div *ngIf="dataTrip" class="container">
  <div class="tahapan-proses">
    <div class="tahapan-proses1">
      <div class="no-proses1">
        <p>1</p>
      </div>
      <p class="proses1 pull-right">Pesan</p>
    </div>
    <div class="tahapan-proses2">
      <div class="no-proses2">
        <p>2</p>
      </div>
      <p class="proses2">
        Bayar
      </p>
    </div>
  </div>
  <div class="isi-tahapan">
    <div class="col-md-4">
      <div class="isi-tahapan-pesanan">
        <div class="isi-tahapan-title" value="idTrip">
          <p>Trip Pesanan Anda</p>
        </div>
        <div class="gambar">
          <img src="{{dataTrip.id_trip.photo_trip['0']}}">
        </div>
        <div class="detail-pesanan">
          <div class="isi-pesanan-star">
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
          </div>
          <div class="isi-pesanan-nama-pulau">
            <p>{{dataTrip?.id_trip?.trip_name}}</p>
          </div>
          <div class="isi-pesanan-waktu">
            <span class="glyphicon glyphicon-time"></span> <span class="waktu">{{dataTrip.id_trip.days}} Hari {{dataTrip.id_trip.night}} Malam</span>
          </div>
          <div class="isi-pesanan-travel">
            <span class="glyphicon glyphicon-user"></span> <span class="travel">{{dataTrip?.id_trip?.provider?.travel_name}}</span>
          </div>
        </div>
      </div>
      <div class="isi-detail">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>Detail Trip Lainnya</p>
          </div>
          <div class="panel-body">
            <div class="detail-pelaksanaan">
              <span>Pelaksanaan :</span>
              <p>{{dataTrip.startDate_trip | date: "d MMMM"}} - {{dataTrip.endDate_trip | date: "d MMMM"}}</p>
            </div>
            <div class="detail-jumlah">
              <span>Jumlah Peserta (yang anda pesan) :</span>
              <p>{{dataTrip.quantity}}</p>
            </div>
            <div class="detail-keterangan">
              <p>Data peserta dilengkapi setelah melakukan pembayaran</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form (submit)="goToPembayaran($event)" id="{{dataTrip}}">
    <div class="col-md-8">
      <div class="isi-data-pemesan">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>Data Pemesan</p>
          </div>
          <div class="panel-body">
            <div class="form-data-pemesan">
              <div class="form-group">
                <label class="label-form-pemesanan">Nama Lengkap</label>
                <input type="text" class="form-control" [(ngModel)]="nbook.order_name" name="order_name"> 
              </div>
              <div class="form-email">
                <div class="form-group">
                  <label class="label-form-pemesanan">Email</label>
                  <input type="email" class="form-control" [(ngModel)]="nbook.order_email" name="email" >
                </div>
              </div>
              <div class="form-telepon pull-right">
                <div class="form-group">
                  <label class="label-form-pemesanan">No Telepon</label>
                  <input type="number" class="form-control" [(ngModel)]="nbook.order_telephone" name="telephone">
                </div>
              </div>
            </div>
            <div class="ubah-data">
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="catatan-provider">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>Cacatan untuk Provider</p>
          </div>
          <div class="panel-body">
            <div class="form-data-pemesan">
              <div class="form-group">
                <textarea class="form-control" [(ngModel)]="nbook.notes" name="catatan_provider"> </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="asuransi-perjalanan">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="cbx">
              <input type="checkbox" class="checkbox" name="check" [(ngModel)]="nbook.asuransi_price" (change)="check($event)">
              <label class="label--checkbox">
                Asuransi perjalanan
              </label>
            </div>
          </div>
          <div class="panel-body">
           <div class="keterangan">
            <p>Perlindungan atas kehilangan barang dan batal perjalanan hingga Rp350.000 dan kecelakaan hingga Rp60 000 000</p>
            <span class="pelajari">Pelajari Selengkapnya</span>
            <span class="dana pull-right">+ Rp 30 000/Orang</span>
           </div>
          </div>
        </div>
      </div>
      <div class="kode-promo">
        <div class="panel panel-default">
          <div class="panel-body">
             <div class="form-kode-promo">
              <div class="form-group">
                <label>Punya Kode Promo?</label>
                <input type="text" class="form-control">
                <button class="btn btn-kode" type="submit">Gunakan Kode</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rincian-harga">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>Rincian Harga</p>
          </div>
          <div class="panel-body">
            <div class="detail">
              <div class="harga">
                <span>Harga Paket</span><span class="jumlah">x {{dataTrip.quantity}}</span><span class="titik-dua">:</span><span class="nominal pull-right">Rp {{(bayar).toLocaleString('id')}}</span>
              </div>
              <div class="diskon">
                <span>Diskon atau Promo</span><span class="titik-dua">:</span><span class="nominal pull-right"> Rp {{nbook.promo_fee}}</span>
              </div>
              <div class="asuransi">
                <span>Asuransi</span><span class="jumlah"> {{(nbook.asuransi_price)!=0? 'x'+dataTrip.quantity:''}}</span><span class="titik-dua">:</span><span class="nominal pull-right">Rp {{(nbook.asuransi_price).toLocaleString('id')}}</span>
              </div>
              <div class="kode">
                <span>Kode Unik</span><span class="titik-dua">:</span><span class="nominal pull-right" ([ngModel])="nbook.uniq_code">- Rp {{(random).toLocaleString('id')}}</span>
              </div>
            </div>
            <hr>
            <div class="total">
              <p class="total-bayar" >Total Harga<span class="titik-dua">:</span><span class="nominal pull-right" ([ngModel])="nbook.publish_price">Rp {{(totalBayar).toLocaleString('id')}}</span></p>
            </div>
          </div>
        </div>
      </div>
        <button type="submit" class="btn btn-pembayaran">Lanjut ke Pembayaran</button>
    </div>
    </form>
  </div>
</div>
<app-mini-footer></app-mini-footer>
