<main id="page-content-wrapper" role="main">
  <p class="profil">Diskusi Trip</p>
  <p class="masukan-profil">Tanyakan semua pertanyaan yang bersifat umum dan terbuka kepada Agen Travel. Travinesia menyediakan Diskusi Trip
    untuk kamu yang juga ingin mendapatkan atau memberikan tanggapan sebuah Trip.</p>
  <!-- <div class="diskusi"> -->
    <div class="row content-diskusi" >
      <div class="isi-tahapan-pesanan">
        <div class="gambar">
          <img src="assets/img/edit.jpg" align="center">
        </div>
        <div class="detail-pesanan">
          <div class="isi-pesanan-star">
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="harga">Rp 62.000.000</span>
          </div>
          <div class="isi-pesanan-nama-pulau">
            <p>Pulau Harapan Kepulauan Seribu Jakarta Utara</p>
          </div>
          <div class="isi-pesanan-waktu">
            <span class="glyphicon glyphicon-time"></span> <span class="waktu">2 Hari 1 Malam</span>
          </div>
          <div class="isi-pesanan-travel">
            <span class="glyphicon glyphicon-user"></span> <span class="travel">Kuylah Travel</span>
          </div>
        </div>
      </div>
    <!-- </div> -->
    <!-- <div class="card-diskusi"> -->
      <div class="diskusi-pesan">
        <div class="akun">
          <div class="akun-image">
              <img src="assets/img/foto.png">
          </div>
          <div class="akun-text">
            <span class="akun-name">Irfan Harianto <span class="date-time pull-right">12 Maret 2018 - 08.00 WIB</span></span>
            <p class="my-akun">Traveler</p> 
          </div>
          <div class="isi-pesan">
            <span>Paket ini masih ada gan?</span>
          </div>
        </div>
        <div class="percakapan">
          <div class="percakapan-akun">
            <p class="lihat-percakapan">lihat percakapan sebelumnya</p> 
            <div class="image-percakapan">
                <img src="assets/img/foto.png">
            </div>
            <div class="akun-text">
              <span class="akun-name">Kuylah Travel <span class="date-time pull-right">12 Maret 2018 - 08.00 WIB</span></span>
              <p class="my-akun">Agen Travel</p> 
            </div>
            <div class="isi">
              <span>masih gan</span>
            </div>
          </div>
        </div>
        <div class="type-diskusi">
          <input type="text" class="form-control form-diskusi">
          <div class="send">
            <i class="glyphicon glyphicon-send"></i>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</main>


