
<!-- <div class="flex-container flex-center">
    <div  class="calendar"> 
        <div class="month">      
        <ul>
            <li class="prev" (click)="prevMonth()">&#10094;</li>
            <li class="next" (click)="nextMonth()">&#10095;</li>
            <li>
            <div>{{date.format('MMMM')}} {{date.format('YYYY')}}</div>
            </li>
        </ul>
        </div>
        <ul class="weekdays">
        <li *ngFor="let nama of dayNames">
            {{nama}}
        </li>
        </ul>
        <div class="">
        <ul class="days">
            <li *ngFor="let day of daysArr" [ngClass]="{'today':todayCheck(day)}">{{day?.date()}}</li>
        </ul>
        </div> 
    </div>
</div> -->

<div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Countdown timer</h2>
    </div>
    <div class="panel-body">
      <div>
        <label>value: </label> {{message}}
      </div>
      <div>
        <button (click)="startCountdownTimer()" class="btn btn-success">Start</button>
      </div>
    </div>
  </div>
  
  <div *ngIf="flag_type_trip==2" class="tripDesc">
    <div data-toggle="collapse" data-target="#harga_rombongan">
      <span class="mainTitle">Harga Rombongan</span>
      <i class="material-icons pull-right">
        keyboard_arrow_down
      </i>
    </div>
    <div id="harga_rombongan" class="collapse" style="margin-top: 5px;">
      <div *ngFor="let qty of detailTrip?.publish_price_group;let i = index">
        <span class="quantity-group" *ngIf="detailTrip?.publish_price_group[i+1]!=null">{{detailTrip?.min_qty_group[i]}} - {{(detailTrip?.min_qty_group[i+1]-1)+' orang'}}</span>
        <span class="{{(qty)? 'quantity-group':''}}" *ngIf="detailTrip?.publish_price_group[i+1]==null">{{(detailTrip?.min_qty_group[i]!="")? ('≥ '+detailTrip?.min_qty_group[i]+' orang'):''}}</span>
        <span *ngIf="qty">{{(qty)? ('Rp. '+detailTrip?.publish_price_group[i].toLocaleString('id')):''}}</span>
      </div>
    </div>
  </div>