.col-md-2 {
    width: 19.666667% !important;
}

.masukan-profil{
    font-size: 13px;
    width: 707px;
    line-height: 1.56;
}

.profil{
    font-weight: bold;
    font-size: 40px;
    font-family: sans-serif;
    display: initial;
}

.trv-alert{
    font-size:11px;
    color: #d24d57;
    margin-left: 117px;
    margin-top: -25px;
    position: absolute;

}

.trv-notice{
    width: 100%;
    height: 41px;
    border-radius: 3px;
    background-color: #f5f5f5;
    border: solid 1px #dddddd;
    margin-top: 26px;
    margin-bottom: 15px;
}

.txt-notice{
    width: 500px;
    height: 13px;
    font-family: sans-serif;
    font-size: 13px;
    padding-top: 10px;
    letter-spacing: normal;
    margin: auto;
    display: block;
    color: #ab47bc;
}

.thumb-promo {
    width: 180px;
    border-radius: 10px;
    border: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #dddddd;
    margin-top: 8px;
    margin-bottom: 10px;
}

.img-thumb img {
    width: 100%;
    position: relative;
}

.img-promo {
    width: 100%;
    height: 155px;
}

.body-caption {
    text-align: left;
    padding: 10px;
    background-color: white;
}

.exit {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #d24d57;
    text-align: center;
    top: 6px;
    right: 12px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.trip {
    color: white;
    position: absolute;
    margin: 0 auto;
    background-color: #536dfe;
    top: 45%;
    left: 5%;
    width: 70px;
    text-align: center;
    border-radius: 25px;
}

.private-trip{
    color: white;
    position: absolute;
    margin: 0 auto;
    background-color: #ff9800;
    top: 47.5%;
    left: 5%;
    width: 70px;
    text-align: center;
    border-radius: 25px;
}

.caption-price {
    color: #ab47bc;
    font-size: 11px;
}

.caption-tittle {
    font-size: 13px;
    text-align: left;
    margin-top: 10px;
    line-height: 1.15;
    color: #4a4a4a;
}

.caption-duration {
    font-size: 11px;
    text-align: left;
    line-height: 1.3;
    margin-top: 10px;
    color: #9e9e9e;
}

.travel-name {
    font-size: 11px;
    text-align: left;
    color: #9e9e9e;
}

.pesan-travel {
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-color: #ab47bc;
    color: white;
}

.pesan:hover {
    text-decoration: none;
    color: white;
    background-color: #ab47bc;
}

.hapus-trip{
    width: 473px;
    height: 202px;
    background-color: #ffffff;
    position: fixed;
    top: 32%;
    right: 32%;
}

.header{
    width: 473px;
    height: 69px;
    background-color: #f5f5f5;
    padding: 15px 33px;
}

.header p{
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
}

.body p{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
}

.hapus{
    width: 127px;
    height: 31px;
    border-radius: 3px;
    background-color: #ab47bc;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
    float: right !important;
    margin-top: 27px;
}

.batal{
    width: 127px;
    height: 31px;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ab47bc;
    float: right !important;
    margin-top: 27px;
}

.body{
    padding: 23px 33px;
}

.modal-hapus{
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.disc {
    position: absolute;
    width: 50px;
    background-color: #ab47bc;
    text-align: center;
    top: 0;
    left: 0;
    color: white;
    border-radius: 5px 0 5px 0;
}