<main id="page-content-wrapper" role="main">
        <p class="profil">Favorit</p>
        <p class="masukan-profil">Masukkan profil Anda dengan benar. Travinesia akan menghubungi sesuai dengan informasi yang Anda masukkan. Pastikan informasi pada Halaman Profil selalu update jika ada perubahan informasi terkait Anda.</p>
        <div class="trv-notice">
            <span class="txt-notice"> <b>Travinesia</b> akan selalu memberitahukan status terbaru pemesanan melaui email Anda </span>
        </div>
<div class="row">
    <div class="col-md-3 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="">
                <a href="#">
                    <div class="exit"> X </div>
                </a>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-3 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="#">
                <div class="exit"> X </div>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-3 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="#">
                <div class="exit"> X </div>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-3 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="#">
                <div class="exit"> X </div>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-3 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="#">
                <div class="exit"> X </div>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-3 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="">
                <a href="#">
                    <div class="exit"> X </div>
                </a>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

</div>
</main>