<!-- <app-loader *ngIf="loaded"></app-loader> -->
<div class="tahapan-proses1">
  <div class="proses1 pull-right">Pesan</div>
  <div class="no-proses1 pull-right">1</div>
</div>
<div class="tahapan-proses2">
  <div class="no-proses2"><p>2</p></div>
  <div class="proses2">Bayar</div>
</div>
<div class="container">
  
  <form (submit)="goToCheckout()" id="idBook">
  <div class="trv-notice">
    <span class="txt-notice"> Pesanan telah disimpan. Silahkan <b>Pilih metode pembayaran</b></span>
  </div>
  <div class="col-md-8">
    <div>
      <div class="panel panel-default metode-bayar">
        <div class="panel-heading">
          <p>Pilih Metode Pembayaran</p>
        </div>
        <div class="panel-body body-metode">
          <div class="card">
            
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#transfer" aria-controls="home" role="tab" data-toggle="tab">Transfer</a></li>
              <li role="presentation"><a href="#kartu-kredit" aria-controls="settings" role="tab" data-toggle="tab">Kartu Kredit</a></li>
              <li role="presentation"><a href="#indomart" aria-controls="settings" role="tab" data-toggle="tab">Indomart</a></li>
              <li role="presentation"><a href="#alfamart" aria-controls="settings" role="tab" data-toggle="tab">Alfamart</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">

              
              <div role="tabpanel" class="tab-pane active" id="transfer">
                <p class="pilih-bank">Pilih Bank:</p>
                
                <ul class="ul-transver" *ngFor="let p of payment">
                  <!-- <li class="transver" tabindex="1" (click)="sendValueBank($event)" value="1"><img src="{{bca}}"></li> -->
                  <li class="transver" tabindex="1" (click)="sendValueBank(p._id, p.id_type_payment._id, p.id_payment_method)" *ngIf="(p.id_payment_method == '1')"><img src="{{p.photo_payment}}"></li>
                  <!-- <li class="transver" tabindex="3" (click)="sendValueBank($event)" value="3"><img src="{{p[4].photo_payment}}"></li> -->
                  <!-- <li class="transver" tabindex="4" (click)="sendValueBank($event)" value="4"><img src="{{p[3].photo_payment}}"></li> -->
                </ul>
                <p class="info-no">Nomer rekening tujuan muncul setelah menekan tombol Bayar Dengan Transfer</p>
                
              </div>
              <div role="tabpanel" class="tab-pane" id="kartu-kredit">
                  <div class="coming-soon">
                      <p>Fitur ini Dalam Pengembangan,</p>
                      <span>Silahhkan Hubungi Nomor</span>
                    </div>
                <!-- <form class="kredit-form">
                  <div class="form-group">
                    <label class="label-form">No Kartu Kredit :</label>
                    <input type="text" class="form-control">
                  </div>
                  
                    <div class="form-group berlaku-form">
                      <label class="label-form">Berlaku Hingga :</label>
                      <input type="text" class="form-control">
                    </div>
                  
                  
                    <div class="form-group cvv-form">
                      <label class="label-form">Berlaku Hingga :</label>
                      <input type="text" class="form-control">
                    </div>
                  
                  <div class="form-group">
                    <label class="label-form">Nama di Kartu :</label>
                    <input type="text" class="form-control">
                  </div>
                </form> -->
              </div>
              <div role="tabpanel" class="tab-pane" id="indomart">
                  <!-- <div class="coming-soon">
                      <p>Fitur ini Dalam Pengembangan,</p>
                      <span>Silahhkan Hubungi Nomor</span>
                    </div> -->
                <div class="kredit-form">
                  <ul class="indo-alfa" *ngFor="let indo of payment">
                      <li class="gambar" tabindex="5" *ngIf="(indo.id_payment_method == '4')" (click)="sendValueBank(indo._id, indo.id_type_payment._id, indo.id_payment_method)">
                        <img src="{{indo.photo_payment}}">
                      </li>
                  </ul>
                  <p class="next-petunjuk"> Petunjuk selanjutnya muncul setelah menekan tombol <b>Lanjutkan</b></p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="alfamart">
                  <!-- <div class="coming-soon">
                      <p>Fitur ini Dalam Pengembangan,</p>
                      <span>Silahhkan Hubungi Nomor</span>
                    </div> -->
                <div class="kredit-form">
                  <ul class="indo-alfa" *ngFor="let alfa of payment">
                      <li class="gambar" tabindex="6" *ngIf="( alfa.id_payment_method=='3')" (click)="sendValueBank(alfa._id, alfa.id_type_payment._id, alfa.id_payment_method)">
                        <img src="{{alfa.photo_payment}}">
                      </li>
                  </ul>
                  <p class="next-petunjuk"> Petunjuk selanjutnya muncul setelah menekan tombol <b>Lanjutkan</b></p>

                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>Rincian Harga</p>
        </div>
        <div class="panel-body">
          <div class="detail">
              <p>Harga Paket<span class="jumlah">x {{dataBooking.quantity}}</span><span class="titik-dua">:</span><span class="nominal pull-right">{{price === null? '': 'Rp ' + price.toLocaleString('id')}}</span></p> 
              <p>Diskon atau Promo<span class="titik-dua">:</span><span class="nominal pull-right">{{dataBooking.promo_fee === null? '': 'Rp ' + dataBooking.promo_fee }}</span></p>
              <p>Asuransi<span class="jumlah">x {{dataBooking.quantity}}</span><span class="titik-dua">:</span><span class="nominal pull-right">{{hargaAsuransi === null? '': 'Rp ' + hargaAsuransi.toLocaleString('id')}}</span></p>
              <p>Kode Unik<span class="titik-dua">:</span><span class="nominal pull-right">{{dataBooking.uniq_code === null? '': '- Rp ' + dataBooking.uniq_code}}</span></p>              
              <p>Biaya Admin<span class="titik-dua">:</span><span class="nominal pull-right">{{boking.admin_fee === null ?'': 'Rp ' + boking.admin_fee.toLocaleString('id')}}</span></p>
          </div>
          <hr>
          <div class="total">
            <p class="total-bayar">Total Harga<span class="titik-dua">:</span><span class="nominal pull-right">{{totalBayar === null? '': 'Rp ' + totalBayar.toLocaleString('id')}}</span></p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-batal">Kembali ke Halaman Pemesanan</button>
      <button type="submit" class="btn btn-simpan" >Lanjutkan</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="batas-waktu">
      <p><span class="glyphicon glyphicon-time"></span>Batas Pembayaran : <span class="waktu">{{dataBooking.deletion_date | date:'HH:mm Z'}}</span></p>
    </div>
    <div>
      <div class="panel panel-default no-pesanan">
        <div class="panel-heading heading-no">
          <p>Nomor Pesanan</p>
        </div>
        <div class="panel-body">
          <div class="no">
            <p class="no-resi" ([ngModel])="boking.no_booking">{{boking.no_booking}}<span class="salin pull-right" >Salin</span></p>
            <p class="pesan">Nomor Pesanan digunakan untuk mewakili paket trip yang dipesan</p>
          </div>
        </div>
        <div class="panel-footer detail-pesanan">
          <p class="total-bayar"><span class="glyphicon glyphicon-briefcase"></span>{{dataBooking.id_trip.trip_name}}</p>
          <p class="tanggal"></p>
          <p class="pemesan">Nama Pemesan : <span>{{dataBooking.order_name}}</span></p>
          <p class="jumlah-orang">Jumlah yang dipesan : <span>{{dataBooking.quantity}}</span></p>
        </div>
      </div>
    </div>
  </div>
</form>
</div>

<!-- <app-mini-footer></app-mini-footer> -->

<div class="footer-black">
  <img alt="Brand" src="../assets/img/logo.png" class="footer-brand-logo">
  <p class="cr-black pull-right">Copyright &copy; 2017 Travinesia</p>
</div>